[2015-08-07 09:46] dkulichkin opened #1 "Unable to run examples"
The stack trace is below:

[code]

Also for some reason is not resolvable by the webpack when including...

Thanks

[2015-08-07 10:22] dkulichkin commented on #1
Probably related to ES6 way of module's implementation, which I never used before though having my webpack's jsx-loader included in harmony mode - here's my config:

[code]

Also tried to use babel-loader instead of jsx-loader but no success. Could you explain please how to use it in non-ES6 env or explain how should I properly adopt my config (pardon my ignorance)

Thanks

[2015-08-09 15:15] MarcMcIntosh opened #2 "Uncaught Error: Cannot find module 'snapsvg'"
burgers not included?

[2015-08-10 07:29] Fabioloza opened #3 "Cannot find module 'react-burger-menu' from..."
I've installed this module:
npm install react-burger-menu --save

When I try building my project after requiring it, I get:
_Cannot find module 'react-burger-menu' from....[location]_

I can install other modules and require them just fine - it's only this one which breaks the build process. Any ideas?

Thanks

[2015-08-10 15:13] sotojuan commented on #3
Hi. I just had this problem too. Looking at the `package.json`, the entry point for the component seems to be `src/ReactBurgerMenu.js`—but that file doesn't exist. In the `src` directory there's a `BurgerMenu.js` file. Maybe that should be the entry point?

[2015-08-10 18:17] Fabioloza commented on #3
Yeah, you're right...! Looks like ReactBurgerMenu.js has been left out of the commit. As setting the entry point to BurgerMenu.js obviously conflicts because it doesn't follow React framework requirements...

@negomi - could you please check if you have a quickfix for this? We'd love to use your plugin.

Thanks

[2015-08-10 18:43] sotojuan commented on #3
Yeah, I really like this component and want to use it on a current project, but (and I don't want to sound rude) it just doesn't work out of the box or even with some fiddling.

[2015-08-10 21:43] sotojuan commented on #3
Upon further experimentation, it seems that after fixing the misspelled name error, the SVG animation code throws an error. Luckily enough I was only going to use the "slide" effect, so I just deleted everything that has to do with SVG animations and got my slider working.

[2015-08-10 22:12] Fabioloza commented on #3
@sotojuan did you fix the error by renaming the file or by changing the entry point in the package.json? Is there anything else that you had to tweak to get this to work? Ta for the feedback btw!

[2015-08-10 22:31] sotojuan commented on #3
I actually ended up making a lot of edits, but [this](https://github.com/sotojuan/coffee-timers/tree/master/client/scripts/components/Menu) is what I used to get a working slider menu. Extra styles [here](https://github.com/sotojuan/coffee-timers/blob/master/client/stylesheets/menu.scss).

[2015-08-10 22:36] Fabioloza commented on #3
Legend - will take a look. So to clarify - you did have to edit quite a lot of the source, and this plugin isn't actually React "ready"?

[2015-08-10 22:40] sotojuan commented on #3
Well, the SVG animations simply don't work (forgot what the error I got was). The rest of the code I modified was mostly my own style and preferences.

[2015-08-11 03:57] sotojuan commented on #3
By the way, I heavily modified the code so it probably won't be as useful now. If still want the "old" version, it's [this](https://github.com/sotojuan/coffee-timers/tree/ca9c0963f8c97e5eef223df72147b3449789214a/client/scripts/components/Menu) one.

[2015-08-11 10:00] Fabioloza commented on #3
Thanks. Although I've decided to use this menu instead: https://mango.github.io/slideout/ If I'm required to manually hack this one to make it work I'll rather custom fit one in React that at least has touch/gesture controls baked in.

Thanks again for the suggestions @sotojuan !

[2015-08-14 16:01] garrettguy457 commented on #3
This is still broken :( Though it seems like it might have something to do with React-kit. I am going to see if I can fix anything and make a PR, but might have no luck.

[2015-08-19 05:15] sylphdesign commented on #3
I manually downloaded this version https://github.com/negomi/react-burger-menu/releases/tag/v1.0.1 and was able to load it locally. I may try to create a fork of this since there seems to be a lack of support.

[2015-08-19 08:11] sylphdesign opened #4 "Error: Cannot resolve module 'react-burger-menu'"
I am trying to install the react-burger-menu in my app via npm and I keep running into this issue whenever I try to include "var Menu = require('react-burger-menu');" in my app, it throw an error of `Error: Cannot resolve module 'react-burger-menu' `

[2015-08-19 08:14] #4 closed

[2015-08-20 17:01] negomi commented on #3
Sorry, I've only just seen this. The generated entry point in the package.json was wrong. It should have been using the transpiled `lib/` directory instead.

I've fixed that, tested the component in another app and it works now.

[2015-08-20 17:01] #3 closed

[2015-08-20 17:04] negomi commented on #2
@MarcMcIntosh are you importing this with a `var Menu = require('react-burger-menu');` statement?

If so, there was an error in the package.json preventing this from working. It's fixed now.

[2015-08-20 17:04] #2 closed

[2015-08-20 17:14] negomi commented on #1
Hi @dkulichkin, I can't seem to reproduce this. Did you get any errors when running `npm install`?

[2015-08-20 19:35] sylphdesign commented on #1
Hi @negomi the new release seems to fail during gulp dev. Checkout the error below"

[code]

[2015-08-20 20:40] sylphdesign opened #5 "Error loading Snapsvg using Webpack."
there seems to be some issue with webpack and snapsvg. The error reads `Cannot read property 'on' of undefined`. I also followed this issue thread for solution: https://github.com/adobe-webplatform/Snap.svg/issues/341

However, I still am not able to get it to work. Any possible solution to replace `var Snap = require( "imports-loader?this=>window,fix=>module.exports=0!snapsvg/dist/snap.svg.js" );

[2015-08-20 21:27] negomi commented on #1
Hi, that means a port is already in use. Do you have something else running on port 8000?

—
Sent from Mailbox

On Thu, Aug 20, 2015 at 12:35 PM, Dhruv Patel <notifications@github.com>
wrote:

[2015-08-24 22:24] negomi commented on #5
This issue is now fixed: https://github.com/negomi/react-burger-menu/commit/1b4a99906601c04d13c8ae27f13e77eaa1cc559a

[2015-08-24 22:24] #5 closed

[2015-09-07 03:22] tampham47 opened #7 "How to use with require js?"

[2015-09-11 17:20] negomi commented on #7
I don't have an example of using this with RequireJS, but I guess it will depend on your setup. What's not working? What have you tried?

[2015-09-15 03:12] krisfields opened #8 "document is not defined when rendering server side"
I'm getting a document is not defined error, which I think is happening because of the server side rendering.

[2015-09-16 17:33] negomi commented on #8
Hey @krisfields, I think this is because some of the component's dependencies reference a DOM, which means trying to render server-side currently throws errors. I'm looking at potential ways to solve this, as it would be nice to support server-side rendering.

[2015-09-17 22:14] negomi commented on #1
Closing as no response for a while. I believe the Webpack build issue has been resolved now. Happy to re-open if the other issue is still a problem.

[2015-09-17 22:14] #1 closed

[2015-09-21 07:45] guykatz opened #9 "angular 2 port?"
this is by far the most good looking side nav I have ever seen.
would live to get it working over angular 2 when its out...
did you ever think of porting this to multiple frameworks? will it be hard to do?

[2015-09-21 18:20] negomi commented on #9
It's a great idea! I'm not sure if I'll have time to write an Angular 2 port personally, but I'll bear it in mind.

The component is really just an element with two states, with different styles applied for each state. So the implementation details will differ, but it should be possible to port to most frameworks.

[2015-09-21 20:47] bradbirnbaum opened #10 "Support for React 0.14 beta"
Do you have plans to add support for React 0.14?

[2015-09-22 00:06] negomi commented on #10
Hi @bradbirnbaum, yes, I'm in the process of upgrading to the new version. Should be able to release soon :)

[2015-09-22 02:36] MMRandy commented on #10
:+1:

[2015-09-22 03:10] MMRandy opened #11 "Nav bar?"
This is nice!  I'd like to use this as the main nav for a hybrid app that must fit both phone and tablet form factors.  On the tablet tho, I'd like to have a NavBar on the slide element that is always visible even when the menu is retracted.  Any suggestions for best way to handle?

Thanks again, this looks nice :)

[2015-09-22 03:11] MMRandy commented on #11
This might be a feature request :)

[2015-09-22 16:29] negomi commented on #11
Hey @MMRandy! I'm not entirely sure what you're getting at - do you mean you want something on the sidebar that doesn't get retracted with it?

[2015-09-22 18:08] MMRandy commented on #11
Almost.  For out tablet design, we like to have a NavBar (sidebar) accessible at all times, even after the retraction of the drawer menu.  But when the drawer opens, the NavBar should move outwards with it.  Upon retraction, the drawer menu completely retracts, but only up to the point of the NavBar.  Then on mobile, the NavBar is not present at all due to screen real estate obviously.  Ideally, t

[2015-09-22 19:27] negomi commented on #11
Ahh, I think I understand. I've made a demo on this branch: https://github.com/negomi/react-burger-menu/tree/navbar-extension

It should be pretty simple to fork and extend from this point. Let me know if that's not what you mean :)

[2015-09-22 23:48] MMRandy commented on #11
Yes!  That is exactly what I was talking about :)  Thanks much for your time as I'm sure you're busy.  I think this is a valuable addition to your component.  Thanks again :)

[2015-09-22 23:58] negomi commented on #11
Excellent! Glad I could help. I'm going to close this issue for now but I might consider adding it to a future release :)

[2015-09-22 23:58] #11 closed

[2015-09-23 23:08] negomi commented on #10
Fixed in https://github.com/negomi/react-burger-menu/releases/tag/v1.2.0

[2015-09-23 23:08] #10 closed

[2015-10-01 08:31] razagill opened #12 "React 0.13.3 not supported"
Hi,
I'm using ```react@0.13.3``` and upon installing I'm getting the following error:
[code]
Is react@0.13.3 not supported and you plan to only support ```react@0.14.*``` and forward versions?

[2015-10-01 17:10] negomi commented on #12
Hey @razagill, React 0.14 introduced some breaking changes so it's not backwards compatible.

To use react-burger-menu with React 0.13.3, just install the previous version:

[code]

I'll update the docs with this info, thanks for pointing it out!

[2015-10-01 17:10] #12 closed

[2015-10-02 10:51] razagill commented on #12
@negomi Cool, that works.

[2015-10-02 10:56] razagill opened #13 "imports issue in webpack"
When using webpack the component gives the following error:
[code]
I think it's because of the `snap.svg` workaround. I think it's because webpack couldn't find that loader in my project so I just had to add `imports-loader` in my devDependencies and it worked. Not sure if anyone else came across something similar.

[2015-10-02 18:04] negomi commented on #13
Ah interesting, maybe imports-loader needs to be in your devDependencies rather than the component's. I'll look into it and update the docs in the next release. Thanks again!

[2015-10-05 11:48] razagill commented on #13
Yup, apparently webpack needs to have it in the project to process that kind of imports.
No problem, thanks for the awesome component :)

[2015-10-07 17:49] negomi commented on #7
Closing as no response for a while. Happy to re-open if this is an issue with the component.

[2015-10-07 17:49] #7 closed

[2015-10-08 02:39] tampham47 commented on #7
I can use it right now. You do very nice, thanks. ^^

[2015-10-08 02:43] negomi commented on #7
Great, glad to hear it :)

[2015-10-09 01:05] negomi commented on #13
Fixed here: https://github.com/negomi/react-burger-menu/commit/bd07561efe993a5dcd1afe19b60f730856168882

[2015-10-09 01:05] #13 closed

[2015-10-16 12:53] nicholasdickey commented on #8
Would also be interested in server-side rendering. Thanks!

[2015-10-16 17:59] iDVB opened #15 "Is there a way to control the sizing design of the menubar? Eg. Width"
We love the menu, but we only need a bar that is like 150px or less wide and would only house icons.

Is there a way to customize the width without forking?

[2015-10-16 19:18] negomi commented on #15
Hey! Unfortunately not at the moment. Depending on which animation style you want, it's probably not a very big change if you do decide to fork it.

I'll consider making the width specifiable as an option in a future release :)

[2015-10-18 18:36] CalebEverett commented on #8
I'd also be interested in server side rendering - thank you!

[2015-10-20 21:43] nicholasalanbrown opened #16 "Change side of menu?"
Is there an easy way to change the side of the menu? If not my only option really is to fork this repo...

[2015-10-21 18:07] negomi commented on #16
Not currently, though I'm planning to add this in the next release or two.

[2015-10-23 13:06] svnlto commented on #8
I guess we're relying on this one to be fixed https://github.com/facebook/react/issues/3620

[2015-10-24 00:10] negomi commented on #8
As of [v1.3.0](https://github.com/negomi/react-burger-menu/releases/tag/v1.3.0), server-side rendering should work :smiley:

[2015-10-24 00:10] #8 closed

[2015-10-24 00:12] negomi commented on #15
As of [v1.3.0](https://github.com/negomi/react-burger-menu/releases/tag/v1.3.0), you can customize the width. See https://github.com/negomi/react-burger-menu#width :)

[2015-10-24 00:12] #15 closed

[2015-10-24 01:42] texttechne opened #17 "Server side rendering inconsistent with client side rendering"
Just tested server side rendering after you closed https://github.com/negomi/react-burger-menu/issues/8. First of all, it works, which is really great! Unfortunately the rendering is not consistent between server and client:

[code]
Vendor prefixes seem to be the problem.
Chrome:
[code]
Firefox:
[code]

[2015-10-24 01:50] negomi commented on #17
Hmmm, interesting - I didn't run across this while testing it myself. I've switched to using [Radium](http://projects.formidablelabs.com/radium/) to handle the prefixing, so it looks like something is causing prefixes to not be applied on the server. I'll look into it and see if I can reproduce the warning. Thanks for letting me know!

[2015-10-24 02:09] texttechne commented on #17
Yep, it's a unresolved Radium issue: https://github.com/FormidableLabs/radium/issues/201

[2015-10-24 12:52] nicholasdickey commented on #17
I find this issue a nothingburger as it just results in an extra render pass on the client, nothing else. All the benefits of the server rendering are still there.

[2015-10-27 21:18] negomi commented on #16
This is now possible, see [v1.4.0](https://github.com/negomi/react-burger-menu/releases/tag/v1.4.0)

[2015-10-27 21:18] #16 closed

[2015-10-28 12:16] harryworld commented on #5
@negomi it actually goes to the catch path which says `Cannot find module` in my case. Does this change really work?

[2015-10-28 15:50] negomi commented on #5
It has so far. Have you added `imports-loader` to your devDependencies?

[2015-10-29 02:04] harryworld commented on #5
Yes, and I'm using your latest branch. I tried in another project and was able to make it work. I guess snap.svg is loaded by another loader (which was my case)

[2015-10-29 17:59] negomi commented on #5
Ah, yeah that would break it. I'm not sure how to deal with that scenario. I don't like the `imports-loader` hack that's in place right now, but I don't know of a better solution without losing the Snap.svg dependency.

[2015-11-11 16:32] lancetw commented on #17
Server side rendering don't work with <Link> of react-router 1.0.0, I got
[code]

[2015-11-11 17:07] kikoanis commented on #17
I think all you need to do is to wrap your ``<link``` collection in a div or span.

[2015-11-11 17:28] lancetw commented on #17
@kikoanis: thank you so much.

[2015-11-12 13:34] lancetw opened #20 "Browser support: elastic and bubble animation does not work in IE 11"
tested: http://negomi.github.io/react-burger-menu/
Only `elastic` and `bubble` animation does not work in IE11, the others works well.

[2015-11-13 19:34] negomi commented on #20
They work for me in IE11, but I have only tested IE11 with https://remote.modern.ie/.

What OS are you using?

[2015-11-13 20:17] lancetw commented on #20
test failed:

Win8.1, IE11, 11.0.9600.18053, update versions 11.0.24 (PC, already run
window update)
Win7, IE11, 11.0.9600.17420, update versions 11.0.14 (modern IE VM)

ok:

Azure remote IE11, 11.0.10514.0, update versions RTM

--
lancetw (Hsin-lin Cheng)
http://lancetw.github.io

2015-11-14 3:34 GMT+08:00 Imogen Wentworth <notifications@github.com>:

[2015-11-14 06:27] negomi commented on #20
Ah, I see. This project was pretty experimental so I'm not currently making any guarantees about browser support, but I've updated the docs to reflect the IE situation. Thanks for letting me know.

[2015-11-14 06:27] #20 closed

[2015-11-14 08:19] lancetw commented on #20
OK, just want you to know that IE11 is still buggy.

[2015-11-23 14:09] FredericHeem opened #21 "Link from react-router instead of a"
Do you mind updating the documentation on the usage of the `Link` component from `react-router`. It's not working out of the box, `Link` has to be wrapped into `Radium`:

[code]

Thanks a lot for this component, very useful.

[2015-11-25 00:08] negomi commented on #21
Hey @FredericHeem! I think an FAQ page in the wiki would be a good place to document issues with third-party tools like this, so I've created one and added your example: https://github.com/negomi/react-burger-menu/wiki/FAQ

Thanks for the warning!

[2015-11-25 00:08] #21 closed

[2015-11-25 21:34] lytvynenkosv opened #22 "Add prefixed css3 properties for better browser support"
There are number of browsers that support transform and transition but with prefixes. Android default browser is one of them.

[2015-11-25 22:02] negomi commented on #22
Hi @lytvynenkosv, the CSS3 properties are already prefixed by [Radium](https://github.com/FormidableLabs/radium). I know the browser support isn't great for IE and Safari in places but it shouldn't be due to prefixing.

[2015-11-25 22:40] lytvynenkosv commented on #22
Looks like it inline-style-prefixer issue https://github.com/rofrischmann/inline-style-prefixer/issues/26

[2015-11-26 22:10] MarcMcIntosh commented on #2
that could have been it :)
thanks negomi

[2015-11-30 23:21] negomi commented on #22
It looks like that issue has been fixed now. Is it working for you?

[2015-12-01 15:17] diegonc opened #23 "Standalone build is not usable"
I'm trying the standalone build located at the `dist` folder but an error is popping up claming that the 'react' module cannot be found.

BTW, I was able to use the standalone version of the v1.1.6 tag after applying [this](https://github.com/diegonc/react-burger-menu/commit/f5eede89b743bcf67e48ea0eda11ec07b06712f5) patch. Actually, that's the version I'm interested in because it supports React 0.

[2015-12-01 17:33] diegonc commented on #23
Ok, I think I found a possible fix:

[code]
With that patch, things started to work after running `gulp build`.
Does it look sane?

[2015-12-01 19:38] negomi commented on #23
Hey @diegonc, you're right, all of those need to be available as globals for the standalone build to work. I hadn't been keeping `browserify-shim` up to date. I'll release a patch for it today. Sorry about that!

[2015-12-01 20:16] diegonc commented on #23
Great! Will you make a release for the older React too?

BTW, thanks a lot for the awesome menu! :-)

[2015-12-01 21:03] negomi commented on #23
Ok, it should be fixed from v1.4.3. I can't change the old v1.1.6 release, but I've put the patched version on a [new branch](https://github.com/negomi/react-burger-menu/tree/1.1.6). The `dist/` files on that branch have been built with the updated `browserify-shim`, so should work standalone.

Let me know if you run into any more problems :)

[2015-12-01 21:03] #23 closed

[2015-12-01 22:49] banderson5144 opened #24 "Close 'X' button not working in mobile"
When I try to click the close 'X' button on any mobile device it doesn't register. Clicking on the main body of the page does close it. The 'X' does work on desktop. Any reason why this may be happening?

[2015-12-01 23:12] negomi commented on #24
Just tested and it's working for me on iPhone 6 (iOS 9.1) in Chrome and Safari. I don't have access to any other devices right now, but I can't think of any obvious reason why it wouldn't be working. Are you trying with the demo page or using the component in a project?

[2015-12-01 23:15] banderson5144 commented on #24
Nexus 5 marshmallow 6.0,  chrome, just tested on your demo page and same issue, even used a stylus to be ultra precise

[2015-12-01 23:16] banderson5144 commented on #24
When zoomed in (a lot) I can click on it and see it register and close. But at initial zoom it doesn't register

[2015-12-01 23:54] negomi commented on #24
I just tried on BrowserStack, and it seems to work (sort of) depending on where you click. It's definitely Android (maybe even device) specific, so I'll try to find a more reliable way to test and look into it when I get some time. Thanks for letting me know.

[2015-12-06 03:41] nvarchar opened #25 "Ability to listen for open/close"
Is it possible to listen for the menu changing states? Thanks.

[2015-12-07 19:59] negomi commented on #25
Hey @nvarchar, not fully at the moment. Ideally, the menu would be stateless and the open/closed state would be determined by passed props.

But as it currently handles its own state, the correct way to listen for open/close would be with a global event system. The problem is that this system could be implemented differently by different projects, so the component can't know ahead of time how it s

[2015-12-09 15:45] gregory90 commented on #25
@negomi how about passing callback through props (onMenuStateChange or something) which would be invoked when menu changes its state?

Right now I can use isOpen prop to open/close menu from the outside, but when I click on overlay or X button, menu closes but my state is not synced with burger menu anymore. Callback would solve this problem.

[2015-12-10 06:04] negomi commented on #25
@gregory90 yes, that would work. It felt unnecessary as part of that PR but I think passing a callback might be the best option at this point. I'm planning to implement it soon.

[2015-12-10 23:38] negomi commented on #25
Done! See https://github.com/negomi/react-burger-menu#state-change

[2015-12-10 23:38] #25 closed

[2015-12-11 07:05] gregory90 commented on #25
Thanks! :)

[2015-12-12 16:20] netlemur opened #26 "Safari: Animations using pageWrapId break document.width if Menu is on left side"
On OS X Safari 9.0.1, the current Safari on iOS and WebKit Nightly (r194006):

When using animations requiring `pageWrap` and `outerContainer` (like elastic, push, etc.) with a Menu on the _left side_ the document.width gets wider after closing the menu.
It works fine if the Menu is on the right.

![screen shot 2015-12-12 at 17 13 19](https://cloud.githubusercontent.com/assets/773681/11762811/b729

[2015-12-12 22:57] negomi commented on #26
Fixed in v1.4.6. Thanks!

[2015-12-12 22:57] #26 closed

[2015-12-15 21:29] talexand opened #27 "burger button z-index is clobbered on creation"
There's an inline style in the burger button creator (https://github.com/negomi/react-burger-menu/blob/1225728690d680a6f9df79a08bafd465d4857306/src/BurgerIcon.js#L44) that clobbers any settings made in CSS from the outside. What's that style doing, and is there a workaround you'd recommend if the button needs to have a different z-index in the page?

[2015-12-15 22:07] negomi commented on #27
Hey @talexand, the reason that style exists is because for some of the animations (specifically the ones that shift other elements around), opening the menu changes the z-order such that the icon disappears.

I could update the component to not add this style for menus that don't have this problem (slide, stack or bubble), but you should be able to use `!important` to override it as a workaround f

[2015-12-15 22:53] talexand commented on #27
Ahh okay. After digging into the source I can see that there's a lot of magic going around these geometries. I can work something out for my specific application in the meantime. Thanks for making such a sweet component!

[2015-12-15 22:53] #27 closed

[2015-12-16 20:53] banderson5144 opened #28 "Vertical Scrolling"
Will the menu scroll if there are a lot of items?

[2015-12-16 21:28] negomi commented on #28
Not by default, but you can achieve that behaviour with:

[code]

[2015-12-16 22:04] banderson5144 commented on #28
Great. So i did do that and it works. However, the body underneath it still scrolls. Any way to prevent that?

[2015-12-17 01:56] negomi commented on #28
I'm not quite sure what you mean. The page body, or something underneath the `.bm-item-list` element?

[2015-12-17 02:00] banderson5144 commented on #28
The main ```body```. Everything behind the overlay still scrolls

[2015-12-17 02:10] negomi commented on #28
Ah right. I can't seem to reproduce that - which animation are you using, and how is your page structured (e.g. do you have any wrapper elements before/after the menu)?

[2015-12-18 22:22] negomi commented on #22
This was fixed by inline-style-prefixer 0.5.2, so `npm install` should get you the updated version. Please re-open if still a problem.

[2015-12-18 22:22] #22 closed

[2015-12-20 20:16] kjs3 opened #29 "Customize transition-duration?"
I'd like this and will submit a PR if it's welcome.

I'm forcing a 250ms slide transition using `!important` in css at the moment but it would be nice to have this as a prop.

[2015-12-22 01:47] negomi commented on #29
Hey @kjs3, nice idea! I was actually thinking about making it possible to pass in a styles object for the whole component (to allow people to avoid writing separate CSS if they want), so this could fit nicely with that approach.

Customizing `transition-duration` via a prop is slightly more complicated than it sounds because several of the menu animations have subtly different transition behavior

[2015-12-23 16:43] oyeanuj opened #30 "Custom icons, and overlay menu."
Hi @negomi, this plugin looks great! For my particular use-case, I was hoping to support the following features and was wondering if the plugin supports it, plans to support it or how hard would it be for me to fork it to add the functionality -

1. Custom burger menu icon. More specifically, I was also looking to to add the word 'menu' next to the icon.

2. An overlay instead of the side bar. Or

[2015-12-24 01:40] negomi commented on #30
Hey @oyeanuj, thanks for the feedback! In response to your questions:

1. I think this is a great idea. I went with the CSS solution for simplicity, but I was planning to add this as an option at some point because it would be awesome for the menu to work with custom SVG icons, for example.
2. This would also be possible. I think the best way to do it would be to create a new menu (called 'overlay

[2015-12-26 08:16] msimonc opened #31 "tests failing"
I'm seeing the tests have a config issue:

Error: Cannot find module 'babel/register'

Thx!

[2015-12-26 18:43] negomi commented on #31
I think this is happening because one of the dependencies is still looking for the old Babel package, which I removed recently as it's deprecated. You might need to `rm -rf node_modules && npm install`

[2015-12-26 21:50] benjy commented on #24
I can confirm this is also reproducible on the demo page with a Samsung S5.

[2015-12-26 22:07] msimonc commented on #31
You should be able to reproduce this as I installed just yesterday, Thx!

[2015-12-26 22:33] negomi commented on #31
Just tried with a fresh install and I'm still not getting that error. Could you post the full stack trace? Thanks.

[2015-12-26 22:45] msimonc commented on #31
No wuriz:
$ npm test

module.js:338
    throw err;
          ^
Error: Cannot find module 'babel/register'
    at Function.Module._resolveFilename (module.js:336:15)
    at Function.Module._load (module.js:278:25)
    at Module.require (module.js:365:17)
    at require (module.js:384:17)
    at /ProjectSamples/REACT/react-burger-menu/node_modules/mocha/bin/_mocha:296:3
    at Array.forEach (native)

[2015-12-26 23:24] negomi commented on #31
Ah right. I think you might have a cached version of an outdated package. Have your tried clearing your cache with `npm cache clean`?

[2015-12-26 23:35] msimonc commented on #31
Still no change.
$ mocha --version
2.2.5
?

[2015-12-28 02:12] negomi commented on #31
Digging into this a bit more, it looks like it's to do with having upgraded to Babel 6. I'm working on it :)

[2015-12-28 19:50] msimonc opened #32 "Multiple .js files in the example index.html"
Hi and Thanks for this awesome project,
The example includes example.js and common.js as well as bundle.js,
All the other components I've included in my webpack app so far have all been packed into a single bundle.js file?

[2015-12-28 21:26] negomi commented on #32
Hey. This project uses https://github.com/JedWatson/react-component-starter, so that's where this behaviour is coming from.

The idea is that in development, it can take a long time to build a monolithic `bundle.js` if you have a lot of dependencies, and you don't actually need to re-bundle all your external dependencies every time you make a change to your project's code.

It's more efficient to

[2015-12-28 21:26] #32 closed

[2015-12-30 04:53] mgenev opened #33 "docs don't say how to open the menu"
This plugin looks awesome, but I don't see a straightforward way to connect a button to the menu... and the example is convoluted, not a basic use case...

[2015-12-30 05:55] negomi commented on #31
Ok, I think this should now be fixed for you. I just released v1.4.8 which includes some changes around running the tests, to work better with Babel 6.

[2015-12-30 06:12] negomi commented on #33
Hey @mgenev, do you mean open/close the menu with a separate button?

You can set the open/closed state when you render the component, as described here: https://github.com/negomi/react-burger-menu#open-state. The best way to control the menu with a separate button is to trigger a re-render when your button is clicked, passing the `isOpen` prop to determine whether it should be open or closed. Hop

[2015-12-30 06:12] #33 closed

[2015-12-30 15:21] msimonc commented on #31
I've done:
npm -g update
npm install
npm cache clean
npm test

I get:

/ProjectSamples/REACT/react-burger-menu/node_modules/jsdom/lib/jsdom.js:3
() => `jsdom 7.x onward only works on Node.js 4 or newer: https://github.com/t
 ^
SyntaxError: Unexpected token )
    at exports.runInThisContext (vm.js:73:16)
    at Module._compile (module.js:443:25)
    at Module._extensions..js (module.js:478:10)

[2015-12-30 15:27] msimonc commented on #31
Fixed.

[2015-12-30 15:27] #31 closed

[2015-12-30 17:30] negomi commented on #31
Great, glad to hear it!

[2016-01-08 03:14] negomi commented on #29
This is now possible for Slide (see https://github.com/negomi/react-burger-menu/wiki/FAQ#can-i-change-the-transition-property-of-the-menu), but this approach doesn't work reliably for the other animations. I think this will be enough to solve it for your use case at least :)

[2016-01-08 03:14] #29 closed

[2016-01-08 22:03] oyeanuj commented on #30
@negomi Just realized, I forgot to say thank you! Thanks for your response, and suggestions :)

And looking forward to the above changes in a release soon!

[2016-01-12 00:47] negomi commented on #30
Hi @oyeanuj! It's now possible to pass an image to use as a custom icon (see https://github.com/negomi/react-burger-menu#custom-icon).

I decided not to add an 'overlay' menu, as I'd rather not add more menus to the core component at this point, but I hope the steps above will be helpful if you want to fork it and add one yourself. Thanks again for your suggestions :)

[2016-01-12 00:47] #30 closed

[2016-01-12 22:05] ClemMakesApps opened #34 "React Native Support"
Does this run on react native? I'm getting odd errors about snap.svg but it still did not work after importing that library

[2016-01-13 20:29] negomi commented on #34
I know Snap.svg has caused some problems before, but I'm afraid I haven't tested this component on React Native. What error are you getting?

[2016-01-13 20:40] ClemMakesApps commented on #34
It doesn't let me build after I import the library. Xcode gives me:

```uncaught error Error: UnableToResolveError: Unable to resolve module imports?this=>window,fix=>module.exports=0!snapsvg/dist/snap.svg.js from /Users/ClemMakesApps/Documents/react-burger-menu-native/node_modules/react-burger-menu/lib/menuFactory.js: Invalid directory /Users/node_modules/imports?this=>window,fix=>module.exports=

[2016-01-13 21:11] negomi commented on #34
We added a workaround for Webpack as [Snap.svg wasn't working with it](https://github.com/adobe-webplatform/Snap.svg/issues/341), and it looks like that's what's causing your error.

I'll look into it when I get some time, but this is the code if you want to try editing that bit temporarily: https://github.com/negomi/react-burger-menu/blob/master/lib/menuFactory.js#L169-L175

[2016-01-21 02:36] negomi commented on #28
Closing as no response for a while. Feel free to let me know if this is still an issue :)

[2016-01-21 02:36] #28 closed

[2016-01-22 09:28] chroth7 opened #35 "Perspective in Chrome"
Thanks for the menu, very nice!

I am using it in a small app and I noticed that when using e.g. scale down, the content/fonts look different after using the menu (also happens on http://negomi.github.io/react-burger-menu/ ) I think, if you look closely.

I am no expert on CSS Transform, but it seems to me that setting `perspective` to `1500px` and leaving it so after closing the menu is the probl

[2016-01-22 21:37] negomi commented on #35
Hey @chroth7! Good spot, I hadn't noticed this before.

The problem seems to be caused by `translate3d()` rather than `perspective`. Specifically, it occurs when you set `translate3d(0, 0, 0)` explicitly, which we are doing at the moment, but we can actually get away with just removing that value rather than setting it. This solves the blurry text problem, without having to mess with antialiasing.

[2016-01-22 21:37] #35 closed

[2016-01-25 08:16] chroth7 commented on #35
@negomi Thanks for the quick feedback and fix! Just tried it, works like a charm.

Thanks again!

[2016-01-25 15:18] tsolman opened #36 "Missing dependency"
Add "imports-loader" module in your dependencies.
My code just broke in production without any obvious error.

[2016-01-25 18:42] negomi commented on #36
I think you're the first person to use it with Webpack like this in production, so I wasn't aware of the issue. Will add later today.

[2016-01-25 21:39] negomi commented on #36
Added in v1.5.0

[2016-01-25 21:39] #36 closed

[2016-01-31 16:34] patrik-piskay commented on #24
I had the same issue, what helped was to make the target area of the close button bigger.

Setting
[code]
on buttonStyle in `CrossIcon.js` (or targeting the button via CSS rules with `!important` really) solved it for me. But it would be nice to have the possibility of styling the button via props or custom class name.

[2016-02-02 18:11] negomi commented on #24
It seems like this is due to the size of the button. I've expanded the default size (from v1.5.1), and also added a class to the button (`.bm-cross-button`), plus the option to style it via the `styles` prop.

[2016-02-02 18:11] #24 closed

[2016-02-08 01:57] swordsreversed commented on #25
I can't quite figure out how to use this, the example just returns the state, i'm not sure of the purpose of that. I tried to update the state using the callback but it seems to crash the browser (seem like an infinite loop?)

`isMenuOpen() {
    this.setState({isOpen: !this.state.isOpen});
  }`

I guess i'm missing something, so how do you keep the state in sync?

[2016-02-08 19:19] negomi commented on #25
Hey @swordsreversed! Yep, the code above will cause an infinite loop, because every time the state changes, you're re-rendering the menu with the opposite state, causing the state to change again, and so on.

The kind of situations where you might need `onStateChange` would be if you wanted to trigger some other change somewhere else in your application when the menu opened or closed, but unless y

[2016-02-16 15:18] matejstrasek commented on #29
Any way I could style the background of overlay in push animation? Don't really like the gray color that covers it and would just like to make the overlay transparent. Currently using !important, but solution that is similar to transition of the menu would be way better.

[2016-02-16 19:01] negomi commented on #29
Hey @matejstrasek, sure, this should be straightforward to implement. I'll get a release out in the next day or so.

[2016-02-16 19:43] negomi commented on #29
Just released v1.5.2, which allows custom overlay styles to be passed to the `styles` prop (see https://github.com/negomi/react-burger-menu/commit/4fe893731fdecd839b535222dcf22bf6d2147198).

[2016-02-16 20:25] matejstrasek commented on #29
That was really fast, great, thanks!

Maybe not a place to put it, but I am doing another similar workaround using !important to add custom svg to cross button. The customIcon solution that is already done for the burger ic . would be also really great for cross button. :)

[2016-02-17 20:44] learntoswim opened #38 "Webpack Example"
Hi there,

I'm hoping you can provide an example of how to integrate this into an existing Webpack setup using import-loaders (as suggested in your readme)?

Menu looks amazing!

[2016-02-17 22:05] matejstrasek opened #39 "Responsive menu"
A really nice feature of the library would be to integrate responsiveness to the menu. Keep the menu always open after certain screen width and on the other hand close it if the screen width is too small.

Something like [this](https://github.com/balloob/react-sidebar#responsive-sidebar).

[2016-02-18 02:41] negomi commented on #29
I think that would be a good addition. I'm going to create a new issue for it so it doesn't get lost here :)

Thanks for the suggestion!

[2016-02-18 02:44] negomi opened #40 "Allow custom image for 'close button' cross"
This functionality already exists for the burger icon (see https://github.com/negomi/react-burger-menu/commit/f56916e2c2e177a9140d077158c9ae04666242d0), so can be implemented similarly for the cross icon.

[2016-02-18 02:50] negomi commented on #39
Nice idea! I'm going to leave this open as I don't have time to work on it right now, but I agree it would be a great feature to add at some point.

[2016-02-18 03:07] negomi commented on #38
Hey @learntoswim, as far as I remember, you just need to `npm install imports-loader --save-dev` and it should work.

I don't have a current example of using this with Webpack but I can create one to help with debugging if this isn't working.

[2016-02-18 17:14] learntoswim commented on #38
Thanks, actually that worked brilliantly. Full disclosure, I'm all very new to React / Radium so I appreciate your time in responding. I'm also attempting to add this menu into the https://github.com/kriasoft/react-starter-kit project out of the box. I am receiving a Radium warning:

[code]

This also occurs without the export withStyles line (straight export default Menu)

[code]

[2016-02-18 21:07] texttechne commented on #38
As the warning points out, this is a server side rendering problem: Radium cannot figure out on the server which user agent is being used (this info is used to determine appropriate vendor prefixes). You have to provide something along these lines:
[code]
Unfortunately the `<App>` component seems to be buried in [routes.js](https://github.com/kriasoft/react-starter-kit/blob/master/src/routes.js#L2

[2016-02-18 22:39] learntoswim commented on #38
Thank you, @texttechne.

[2016-02-18 22:39] #38 closed

[2016-02-22 21:38] matheuztavarez commented on #34
Did anyone got it to work with native? :/

[2016-02-27 03:05] negomi commented on #40
Fixed in v1.5.3.

[2016-02-27 03:05] #40 closed

[2016-03-06 21:19] msimonc opened #41 "Open State"
Thanks again for this,

for isOpen, if the default value is false,
[code]
can't get either working for some reason.  My current workaround (in an onClick handler for each \<a\> element) is:
[code]
This closes the menu after an item has been selected.

[2016-03-07 03:24] negomi commented on #41
Hey @msimonc, I'm not sure I understand your description - it seems like something didn't paste quite right? :)

[2016-03-07 13:03] amitthakkar22288 opened #42 "Passing isOpen props to the menu doesn't work"
i tried passing the isOpen as a props, but the menu doesn't open. i tried debugging and it seems you would want to read the props and update state in the componentWillReceiveProps function?
`<Menu styles={menuStyles} isOpen={this.state.isMenuOpen}>
            <a id="home" className="menu-item" href="/">Home</a>
            <a id="about" className="menu-item" href="/about">About</a>
            <a

[2016-03-07 22:07] msimonc commented on #41
Fixed up the egregious original cut / pasting :)

[2016-03-08 02:45] franciscop opened #43 "Allow for font icon"
For instance, we want to use [Ionicons](http://ionicons.com/), so it would be great if react-burger-menu supported them. [Example usage](https://jsfiddle.net/franciscop/9qbd3293/) for ionicons:

[code]

This [could be similar to accepting an image for the close button](https://github.com/negomi/react-burger-menu/issues/40):

[code]

So then, if it's set, those classes are added to a simple `<span>

[2016-03-08 07:11] amitthakkar22288 commented on #42
I noticed you fixed this bug, and released a new version 1.5.4. Can this be somehow patched to work with React 0.13?

[2016-03-08 09:05] negomi commented on #42
Hey, yeah, I meant to say this bug is fixed in 1.5.4 - thanks for reporting it :)

The last version that worked with React 0.13 is 1.1.6, which is quite old now and doesn't even include this feature. I didn't want to maintain two branches so I decided not to add any new features to that version, but it's available on a branch (called 1.1.6) which you're more than welcome to fork if you'd like to a

[2016-03-08 09:05] #42 closed

[2016-03-08 09:09] negomi commented on #41
Thanks :)

There was actually a bug preventing the `isOpen` prop from working as intended, but you're correct that that's how it should work. If you update to version 1.5.4, it should now be fixed.

[2016-03-08 09:09] #41 closed

[2016-03-08 16:10] stanleycyang opened #44 "React Burger Menu breaks Firefox"
I'm not sure why, but with `react-burger-menu` I get this issue:

[code]

It breaks my react-router and I'm no longer able to navigate within the app

[2016-03-08 21:18] negomi commented on #43
I like this idea. I wonder if having a more general prop for custom icons would be better, so you could just pass a string of HTML to use either an image or icon font, for example. I'll work on this when I get a chance.

[2016-03-08 21:23] negomi commented on #44
Hi @stanleycyang, do you know which line of code is throwing this error? It doesn't happen on the demo page so I'm trying to figure out where best to start debugging.

[2016-03-08 21:31] stanleycyang commented on #44
![screen shot 2016-03-08 at 1 30 26 pm](https://cloud.githubusercontent.com/assets/3037893/13617147/fd49b528-e531-11e5-9581-480856b85866.png)

[2016-03-08 22:34] negomi commented on #44
Ah, this is because you're using react-router. See https://github.com/negomi/react-burger-menu/wiki/FAQ#why-doesnt-the-link-component-from-react-router-work

I cloned twreporter-react (the project you mean I think?) and checked out the commit before you removed react-burger-menu, added this fix, and it works fine.

Sorry, the FAQs are a bit hidden in the wiki :)

[2016-03-08 22:42] #44 closed

[2016-03-10 16:43] krispyk84 opened #46 "No pageWrapId/outerContainerId supplied"
Hi,

Not sure why this is happening but I keep getting a console warning "No pageWrapId supplied" and "No outerContainerId supplied", thus I cannot use the 'push' animation or any of the animations that require those definitions. Any idea why this might be happening?

Here's where I define them:

`<div id="outer-container">
        <Menu pageWrapId={ "page-wrap" } outerContainerId={ "outer-contain

[2016-03-11 03:31] negomi commented on #46
Hi @krispyk84, that looks correct, assuming all the elements have closing tags etc. as well.

It's hard to say what's causing the error without a little more context. Are you able to push an example of the broken code somewhere I could look at it?

[2016-03-11 03:40] msimonc opened #47 "icons only closed Enhancement"
Hi Imogen,

It would be nice if there was an option to "close" the (left) menu in such a way that the icons still show and are clickable.  I.e. it doesn't completely close / hide.

Thanks! Mark

[2016-03-11 04:09] negomi commented on #47
I think someone asked for exactly this a while ago: https://github.com/negomi/react-burger-menu/issues/11

I'm not sure about merging it officially yet but I'll leave this here as an enhancement :)

[2016-03-11 11:05] jiku opened #48 "Horizontal placement options"
What about adding horizontal placement? Not sure anyone needs that except me but have something going [here](http://github.com/jiku/react-burger-menu) (amongst other stuff) if you want to check it out. WIP. See issues. :)

[2016-03-12 00:11] krispyk84 commented on #46
I fixed the bug. It was a child element structure thing. Thanks for the great menu!

[2016-03-12 00:14] negomi commented on #46
Yay, glad to hear it!

[2016-03-12 00:14] #46 closed

[2016-03-12 03:29] msimonc commented on #47
The navbar-extension looks good and is a good step in the right direction,

But I'd visualized the original left menu not fully hiding but remaining open enough to keep the icons showing.  Of course a hamburger would be added at top to fully open the menu.

You might consider optionally replacing the X with a hamburger so that it stays in the same place both for opened and closed.

[2016-03-14 21:52] negomi commented on #48
Hey @jiku, nice! I love how it's working for Slide :)

I think the complexity of making this work for all the animations means I probably won't add it as a new feature of the main component, but if anyone asks about this functionality, I'll be sure to mention your fork!

[2016-03-14 21:52] #48 closed

[2016-03-14 22:26] negomi commented on #47
Ah, I see what you mean!

That could be useful, but would be very dependent on what you put in the sidebar, i.e. whether you're actually using icons. It'd also take more thinking to make it work with the cross and burger icon, as well as some of the more complex animations.

I think the specific nature of this means I'm probably not going to add it as a main feature for now, but I'll definitely be

[2016-03-14 22:26] #47 closed

[2016-03-15 10:53] jiku commented on #48
Thanks! Yeah it's beyond me atm. :) Maybe I can backtrack after I'm done with my project and have some more experience with React, to do a full PR.

[2016-03-17 13:54] bkniffler opened #49 "React 15 - remove peerDependencies"
Hey, would you mind removing peerDependencies so we can choose the appropriate react version ourselves? Many libraries turned their backs to peerDependencies now.

[2016-03-17 22:22] negomi commented on #49
Hey @bkniffler! Yeah, I've just released v1.5.7 which no longer includes `peerDependencies`.

I started using them from React 0.14.x to warn people using React 0.13.x that this component wouldn't be compatible, but with the v15 release candidate and imminent switch to major versioning, I agree it makes sense to remove them at this point.

[2016-03-17 22:22] #49 closed

[2016-03-28 04:56] negomi commented on #43
This is now possible, from v1.6.0 (see https://github.com/negomi/react-burger-menu#custom-icons).

[2016-03-28 04:56] #43 closed

[2016-03-31 12:44] KerenChandran opened #50 "[Enhancement] Wave Support"
I noticed that the OffCanvasMenuEffects repo has a wave effect. Is it possible to do this now or does this need to be implemented. I really love this component and the effects you currently have!

[2016-04-01 23:05] negomi commented on #50
Hey @KerenChandran! I decided not to implement that one originally because I only planned for the menu to appear from the left side of the screen.

It's now evolved so it can be positioned on the right as well, but would take some more refactoring to allow menus that come from the top and/or bottom.

I don't have a lot of time to add new features right now, but I think this would be a great additi

[2016-04-05 15:58] adrianha opened #52 "Server Side Rendering Support on v1.6"
Hello,
I am facing issue for server side rendering using react-burger-menu version 1.6.
Here's the warning:
`warning.js?0260:45 Warning: React attempted to reuse markup in a container but the checksum was invalid. This generally means that you are using server rendering and the markup generated on the server was not what the client was expecting. React injected new markup to compensate which works

[2016-04-05 15:58] adrianha commented on #52
@negomi

[2016-04-07 10:51] adrianha commented on #52
any thought about this @negomi ?

[2016-04-07 14:54] matejstrasek opened #53 "Push menu closed always shows page-wrapper as opened and vice versa"
I am experiencing this weird error with the 'push' menu. 'isOpen' is set based on the state of the menu. When the app is loaded its set to false. The BurgerMenu is hidden, but page-wrapper is shifted to the right as it would be opened.

[code]

It looks like the isOpen is somehow failing - setting it to false closes the menu, but opens the wrapper and vice versa; setting it to true opens the menu

[2016-04-09 01:39] negomi commented on #53
Hi @matejstrasek, sorry for the late response. I just merged a fix that I think addresses the same issue. If that doesn't work, let me know and I'll look into it as soon as I can.

[2016-04-09 01:44] negomi commented on #52
Hi @adrianha, sorry for the late response! This sounds like something isn't working with Radium, which is responsible for applying prefixes to the menu styles. I'll look into it sometime in the next couple of days.

[2016-04-09 06:33] vramana commented on #49
@negomi Can you please move react@0.14 and react-dom@0.14 to devDependencies??

In my project, I am switched to react v15. whenever I install a package, npm installs react 0.14 under react-burger-menu and a few other projects that declared react@0.14 as dependency. So, my webpack builds ends up with multiple copies of react. I found this https://github.com/npm/npm/issues/1341 after searching a bit

[2016-04-11 11:01] negomi commented on #49
Hi @vramana! I've now updated React to v15 so this should solve your problem.

[2016-04-12 21:07] peterholcomb opened #54 "Question: Close Menu on Link Click"
This might be a dumb question, but how do you close the menu when you click a link?

Here's my example:

`<Menu styles={styles}>
    <Link to="/" className={classNameCreative} onClick={ this.toggleMenu }>Creative</Link>
    <Link to="/people" className={classNamePeople}>People</Link>
    <Link to="/engineering" className={classNameEngineering}>Engineering</Link>
    <Link to="/advertising" classNa

[2016-04-12 22:16] peterholcomb commented on #54
Nevermind.

[2016-04-12 22:16] #54 closed

[2016-04-26 09:14] danieleteti commented on #9
+1

[2016-04-27 09:38] franciscop commented on #34
Also getting some trouble with the menu in Meteor:

[code]

[2016-04-30 08:28] thomasmodeneis commented on #52
I've ran into the same problem here :|

[2016-04-30 16:08] negomi commented on #52
I've tried to reproduce this and can't seem to get the same error. What version of Radium is installed in your `node_modules`?

[2016-05-01 02:51] negomi commented on #34
These errors should be gone with v1.8.0.

Not officially testing or guaranteeing support for React Native yet, but the code that was causing this particular error has now been removed :)

[2016-05-01 02:51] #34 closed

[2016-05-01 06:52] negomi commented on #52
Ok, tried a slightly different setup and I managed to get the error.

I've just pushed a release (v1.8.1) which fixes it. Please let me know if it's still a problem :)

[2016-05-01 06:52] #52 closed

[2016-05-03 12:36] toddsmart commented on #53
Hi. I think I'm running into something similar with 1.8.1. I'm using the 'push' react-burger-menu animation as follows:

container:
[code]

the HamburgerMenu component that wraps the react-burger-menu (aka Menu):
[code]

the handleState Change within my HamburgerMenu:
[code]

When handling my own close events (i.e. when I click an item in the react-burger-menu, I toggle my apps' isOpen to false),

[2016-05-04 16:02] srsjake opened #56 "Unable to close menu after clicking on link"
I'm using the menu within a "body" component that spans my whole page. I've added the menu as follows and I'm using react router.

[code]

and this is its parent

[code]

If I click on a link, it loads the page just fine however, the menu remains open and I have to either use the close button or click outside the menu to close it. How can I get it to auto-close?

Thank you

[2016-05-05 10:07] cimi commented on #44
I had the same problem because I was using an unwrapped `Glyphicon` from react-bootstrap as the `customBurgerIcon`; wrapping it in Radium fixes it:

[code]
This was a pain to debug as it's was not clear (at least in my app) that the issue was coming from this component and it weirdly occurs only in Firefox, Chrome tolerates it.

Agreed on the FAQ being hidden, also Google wasn't helpful - I found

[2016-05-05 15:19] negomi commented on #44
I'm happy to move them to the README. Will do the update when I get some time.

[2016-05-05 15:24] negomi commented on #53
Thanks for letting me know - I'll try to reproduce this and look into it in the next couple of days.

[2016-05-06 02:25] negomi commented on #56
Hey @srsjake,

You'll have to handle the open state of the menu manually in this case (see https://github.com/negomi/react-burger-menu#open-state).

Hope that helps!

[2016-05-06 03:24] srsjake commented on #56
Heya @negomi,

Thanks for the response, forgive me but I'm new to React. Using the open state, I can check whether the state is open but how can I actually close the menu when an item is clicked?

My initial thought was to add an onClick handler to each menu item but even then, I don't know how to call the toggleMenu method defined in menuFactory.js.

[2016-05-06 07:21] negomi commented on #56
Ah, no worries :)

You've got the right idea with the onClick handler for each item. Basically, `isOpen` is a boolean that lets you tell the menu whether to render as open or closed.

So you keep track of the menu state externally, then use that to determine the value of the `isOpen` prop.

Something like this:

[code]

You can ignore the toggleMenu method etc - the component handles its own inter

[2016-05-06 08:17] srsjake commented on #56
That doesn't seem to work. I intialized menuOpen in getInitialState to get it to run without errors and it changes on initial load depending on what I set it to. However, actually clicking on a link doesn't close the menu. Also, using onClick on each link seems to prevent the router from accessing the routes too.

There's some additional behavior which might give you some useful information. If I

[2016-05-06 15:16] negomi commented on #56
It's going to be difficult to give you the exact code you need without more information.

Do you have a repo I can pull down somewhere to see if I can give you a more complete example?

[2016-05-06 15:35] srsjake commented on #56
The site I'm working on is over here: https://github.com/srsjake/portfolio-v2

You should just need to run npm install and then npm start to fire up the browsersync development server. The entry point is in `src/app.js` and each route basically has its own folder with a .js and .scss file. The menu is along with other shared components in the `components` directory.

Apologies if the code is a lit

[2016-05-06 16:18] negomi commented on #56
Great, thanks. I'm pretty busy today but I'll take a look as soon as I can

[2016-05-07 08:11] lancetw opened #57 "v1.8.1 stack animation not working in safari"
v1.8.1, the `stack` animation is not working on Safari,
v1.8.0 is fine.

[2016-05-07 17:47] negomi commented on #57
Ah yes, strange! Thanks for letting me know.

[2016-05-08 01:20] negomi commented on #56
Ok, so there was actually a bug in the component preventing this from working. It is fixed in v1.8.2.

In your case, I think you only ever want to render the menu as closed. This will ensure it closes after you've clicked an item and navigated to one of your routes.

So, upgrade to 1.8.2, ignore all the stuff about handling state externally, and this (much simpler) example should do what you want:

[2016-05-08 04:26] srsjake commented on #56
That did it, thanks!

[2016-05-08 04:26] #56 closed

[2016-05-09 09:15] trungtin opened #58 "Externally control open state."
Thanks for beautiful components, but here my 2 cent, if isOpen props is set on Menu, then it should remove click handle on burger and cross button, and only give two other request function ( (for e.g. onRequestOpen and onRequestClose), otherwise external state would be out-of-sync, right? And what about a props to completely remove burger and cross button (false on customIcon). Thanks, if I find s

[2016-05-10 03:56] negomi commented on #58
Hi @trungtin, yes, the `isOpen` prop has been the source of a few weird bugs recently.

I think the problem was trying to keep track of too many things (e.g. old and new props and/or state) when rendering with `this.props.isOpen`. What happens now (since v1.8.2), is that whenever `this.props.isOpen` is supplied, that always becomes the value for `this.state.isOpen`, regardless of anything else. If

[2016-05-11 10:56] SeqviriouM opened #59 "v1.8.2 animation not work properly"
v1.8.2: elastic animation not work properly in Chromium for me.

[2016-05-11 11:41] SeqviriouM commented on #59
Sorry for the carelessness. Haven't noticed this line:

Have switched on version 1.7.1

[2016-05-14 22:06] pertrai1 opened #61 "Closing menu from the body?"
How would I go about having the menu close when I click outside of the menu? I am in need of having to close the menu when clicking on the body. I have a header class that I return the header with the jsx markdown html menu wrapped inside of the <Menu>. Only problem is that I don't have access to the body from this component from what I know of with my work in React.

Any help would be great.

Tha

[2016-05-15 08:28] jwamsterdam opened #62 "Menu not scrollable?"
Hi, I tested the menu on an iPhone 5 landscape mode, but I experience that the menu is not scrollable.. Should I fix that myself within the menu, eg add a container with scrollbar, or can this be fixed by the source you provide?  Thank you!

[2016-05-16 00:08] negomi commented on #62
Hey @jwamsterdam, you just need to add `overflow-y: scroll;` to the `.bm-menu` element if you want scrolling.

It's not there by default as it's not necessarily needed for every use case, and it would make scroll bars show all the time by default in some browsers, which would look weird if there were only 5 items in the menu :)

Hope that helps!

[2016-05-16 00:08] #62 closed

[2016-05-16 00:28] negomi commented on #61
Hi @pertrai1, I assume you're using the menu the `noOverlay` option? Enabling the overlay is the easiest way to make sure the menu closes when a user clicks outside of it.

If you need to use it without the overlay, you can add an `onClick` handler the body, and then use that handler to trigger a re-render of the menu with the [`isOpen`](https://github.com/negomi/react-burger-menu#open-state) prop

[2016-05-16 00:28] #61 closed

[2016-05-16 00:28] negomi commented on #59
Yeah, the Snap.svg dependency is the problem there. Glad you saw the warning :)

[2016-05-16 00:28] #59 closed

[2016-05-16 00:52] pertrai1 commented on #61
Awesome,  thank you

[2016-05-17 21:43] aaronsmulktis commented on #58
+1

and yes thank you again for such a great component @negomi.
Seems like ^^^ should fix this, looking forward to trying once it hits npm

Thanks!

[2016-05-18 13:07] travellingprog opened #63 "Change in 1.8.2 causes calls to onStateChange even if state has not changed"
This change in 1.8.2: https://github.com/negomi/react-burger-menu/compare/v1.8.1...v1.8.2#diff-b9cfc7f2cdf78a7f4b91a753d10865a2

... will cause `this.toggleMenu()` to be called whether or not `isOpen` has changed. Within toggleMenu, `onStateChange()` is always called: https://github.com/negomi/react-burger-menu/blob/9737db22668b7c876bd7f622aa158d1acbe6dd12/src/menuFactory.js#L34 .

In our applicat

[2016-05-19 01:52] negomi commented on #63
Hi @travellingprog, oh yes, I see :/

The `isOpen` logic needs rethinking because everything so far that's worked for one use case/combination turns out to be buggy for another. I don't think it's ever been quite correct. I just haven't had the time recently to sit down and look at it properly.

If you'd like to submit a PR, that would be great. Sorry about the old version - I'd forgotten to push

[2016-05-19 02:12] travellingprog commented on #63
Thanks for updating master!

Yeah, I gathered from reading #58 that you made the change in 1.8.2 to address another issue. I might put some time in the next few days to look at this, would you be able to provide a list of bugs around `isOpen`, or a list of use cases you want to address?

[2016-05-19 06:58] negomi commented on #63
So I just found a couple of hours to look through the history at all the ways it's been broken, and wrote some more comprehensive tests covering each case.

The logic change to make them all pass was pretty simple (checking for the isOpen prop being defined, and then checking for either a prop or state difference).

I haven't merged it yet, but the diff is here if you feel like taking a look: http

[2016-05-19 13:55] travellingprog commented on #63
Wow, thanks for taking the time to do that! Those are way better tests than anything I would've put together.

I think that `propDiff` (https://github.com/negomi/react-burger-menu/compare/fix/isOpen-logic?expand=1#diff-747cb230178c9213608520022a644c5eR189) will cause an issue. I believe you should skip that check and only need your condition around the toggleMenu call to be `if (typeof nextProps.i

[2016-05-19 22:35] negomi commented on #63
Yeah, that looks like another case! I'll update the diff as soon as I can.

[2016-05-20 02:57] negomi commented on #63
Just pushed v1.8.3, which includes your suggested change, and a (now passing) test which fails with the logic I had before.

So that's all the cases I know of covered and documented in tests for now!

Thanks again for your help with this :)

[2016-05-20 02:57] #63 closed

[2016-05-20 03:03] negomi commented on #53
So, the logic in v1.8.1 that determined when the wrapper elements should be triggered was incorrect, resulting in that additional function call.

v1.8.3 should fix this issue, and includes more thorough testing covering this case, and several other bugs that have been caused by that same bit of logic.

Thanks for reporting the error!

[2016-05-20 03:03] #53 closed

[2016-05-23 20:37] aaronsmulktis commented on #58
Hey! Thanks so much for all the hard work @negomi.
This thing works beautifully, and I'm using it across a couple projects.

Since updating to 1.8.2 I'm now able to control the position of the menu by passing the prop, but that doesn't seem to update the translate3d CSS property for the pageWrapId, so the page wrapper stays where it is no matter how I control the menu.

Anything I'm missing?

Than

[2016-05-24 02:48] negomi commented on #58
Hi @aaronsmulktis, glad you're liking the component!

The latest version is now 1.8.3, which includes additional fixes around the `isOpen` prop. Can you update and see if you're still having the same issue?

[2016-05-27 20:36] casche opened #64 "Cannot see the toggle button"
What have I done wrong if I cannot see the button? 😞

<img width="1440" alt="screen shot 2016-05-27 at 5 35 02 pm" src="https://cloud.githubusercontent.com/assets/5832943/15620580/6b688a3c-2431-11e6-90ad-1063ebbd9e11.png">

[code]

[code]

[2016-05-27 20:46] negomi commented on #64
I'm guessing it's because you haven't supplied any styles yet. The actual `button` element is just there for semantic reasons and is supposed to be invisible.

The classes that let you style the icon are `.bm-burger-button` (for positioning/sizing) and `.bm-burger-bars` (for the visual look of the bars).

See https://github.com/negomi/react-burger-menu#styling :)

[2016-05-27 20:50] casche commented on #64
I JUST realized that! I'm sorry @negomi . That's a little confusing I guess, or maybe it's just friday.

A little off topic, but what if I would like the button somewhere else in the dom? Like If I'm mixing in a bootstrap navbar.

[2016-05-27 22:41] negomi commented on #64
If you want to trigger the menu from somewhere else in the DOM, you won't be able to use the native button because it's already integrated into the component.

What you can do is hide the native button, then trigger the menu to render as open/closed when your other button is clicked, by passing the `isOpen` prop (see https://github.com/negomi/react-burger-menu#open-state).

Hope that helps!

[2016-05-28 04:46] #64 closed

[2016-05-28 06:47] negomi commented on #58
Hi @trungtin, I have just published v1.8.4 which includes the ability to pass `false` to disable the burger or cross icons, like you suggested.

I also believe the out-of-sync issues with `isOpen` were resolved in v1.8.3, so I think I'm safe to close this issue now. If you're keeping track of state externally, you'll want to use [`onStateChange`](https://github.com/negomi/react-burger-menu#state-c

[2016-05-28 06:47] #58 closed

[2016-05-28 19:44] negomi commented on #57
This is fixed in v1.9.0.

[2016-05-28 19:44] #57 closed

[2016-05-30 07:46] nahushf opened #65 "Usage with typescript"
Has a Typings definition been written for this? I can't seem to find one

[2016-05-31 00:05] negomi commented on #65
Hi @nahushfcc, I don't know of anyone using this with TypeScript yet so no, there isn't one currently.

If you feel like submitting a PR it would be very welcome :)

[2016-06-10 08:32] jwamsterdam opened #66 "Latest react: Error in Firefox"
Hi,

I use the following code for setup of Burger Menu in react:

    var Menu = require('react-burger-menu').slide;

or

    import { slide as Menu } from 'react-burger-menu';

And in my render view:

    render() {
        return (
            <Menu >
                <a id="home" className="menu-item" href="" onClick={this.changePage}>
            </Menu>
        );
    }

I am using ES6 notatio

[2016-06-12 01:16] negomi commented on #66
Hi @jwamsterdam,

In the example above, your `<a>` is missing its closing tag, which could be causing problems (assuming that's also the case in your code).

Other than that, I can't think of anything immediately obvious. I tried running a test project to replicate your situation, and (after fixing the closing tag) didn't get an error in Firefox (version 47).

What version of React/Firefox are you

[2016-06-12 21:35] jreancsu opened #67 "Cannot get escape key to close menu when using isOpen prop"
I'm using a separate button to toggle the menu using the `isOpen` prop.  I have the `isOpen` prop `connect()`'ed to a boolean value in my Redux store.   The menu opens and closes as expected, except for when pressing the `escape` key.

I believe the problem is here:
[code]

`this.state.isOpen` is `false` when I hit the escape key.  Does anyone have an example of using the `escape` key to toggle th

[2016-06-13 12:52] miracle2k opened #68 "react, react-dom should be peer dependencies"
``react-burger-menu`` should never be pulling in a custom version of react just for itself. I believe that in those cases peer dependencies should be used.

This seems to be the common approach taken by other libraries.

[2016-06-14 04:57] negomi commented on #67
Hi @jreancsu. If you've rendered the menu with `isOpen` set to `true`, then `this.state.isOpen` should also be `true`, so the Escape key should work as expected.

If you have an example of your code somewhere then I can take a look to see what's happening.

[2016-06-14 05:36] negomi commented on #68
It used to include those modules as `peerDependencies`, and then I moved away from them around the time React moved from 0.14.x to 15.x, as there is [debate around their intended use](https://github.com/npm/npm/issues/5080#issuecomment-40545599).

As new React versions still frequently introduce breaking changes, if I decide to move back to using `peerDependencies`, I need to figure out what a sen

[2016-06-14 13:17] jreancsu commented on #67
This is code for work, so I'll have to transform it into a "not the droids you're looking for version" haha.  I'll get that to you as soon as I can.  I'll try and push up an example on Github so you can pull it down and study it.

[2016-06-15 09:48] miracle2k commented on #68
Thanks for the link. But it seems to suggest that the alternative, were peer dependencies to be removed from npm, would be to not reference react in package.json at all, and make it a documentation issue. That's ok in my mind.

My problem is that if react is a regular dependency, it might be installed twice, which will never work out.

I think if you were to move the dependency to a peerDependency

[2016-06-17 13:49] hedgehog34 opened #69 "Text-indenting button text"
Hello - great project,

When I select text around hamburger button, it reveals hidden text, which isn't ideal.

Is there a way of removing `<button>` element's text ("Open Menu" inside of `<div class=bm-burger-button>`) using `text-indent: -9999px` technique, instead of masking it with `color: transparent`, for example by passing it with a `style` object?

Even adding a class to this element would

[2016-06-18 18:11] negomi commented on #69
Hi @hedgehog34,

Sure, I'd be happy to move to the `text-indent` approach in the main project actually - I think it's probably a better solution than making the text transparent.

Will add it to the next release!

[2016-06-18 19:38] hedgehog34 commented on #69
Hi @negomi - thanks.
Just forked the project, maybe I could contribute to it when I get familiar.

Are you open to extending the project in regards of how content behave on sidebar toggle? What I am looking for is something more responsive like `Menu.squeeze`, which would simply downsize the `width` of everything inside`<main id="page-wrap">` element.

Also, this would be allowed to happen only on

[2016-06-20 10:03] hedgehog34 opened #70 "Styles (transformations) not applied, when isOpen set to true initially"
When initial value of `isOpen` is set to `true` on `<Menu>` component, then transformation of main content is not happening and console spits out `Element with ID 'page-wrap' not found` and `Element with ID 'outer-container' not found`.

Looks like when `handleExternalWrapper()` is being called for the first time, 'outer-container' div and 'page-wrap' are not in the DOM yet, therefore, relevant st

[2016-06-21 20:53] jwamsterdam commented on #66
I did make some issue on my side, but I do face the following, which is basically exaclty the same as this issue: https://github.com/negomi/react-burger-menu/issues/44

Whenever I try to insert React Bootstrap <Checkbox> elements, I get the error:
    TypeError: CSS2Properties doesn't have an indexed property setter.

Only way to fix that, is to include Radium and use the following notation:
    {

[2016-06-23 13:55] kachkaev commented on #44
Git the same issue as well. Was pretty hard to investigate.

[2016-06-23 21:06] jwamsterdam commented on #66
Its fixed, needed to use onChange={this.changeStops.bind(this, 'onestop')}

[2016-06-23 21:06] #66 closed

[2016-06-26 03:33] adrianha opened #72 "Smooth scrolling disabled on safari iOS after open burger menu"
Hello,
I found that smooth scrolling on browser (iOS Safari) disabled after opened burger menu. Any thoughts @negomi ?
Thank you

[2016-06-27 11:08] hedgehog34 commented on #70
I did manage to make this working by setting initial state to `isOpen` prop, so in `menuFactory`:
[code]
Opening menu initially via `isOpen` prop:
 `<Menu isOpen ... />`

For a moment I thought this is antipattern ([Props in `getInitialState` is an Antipattern](https://facebook.github.io/react/tips/props-in-getInitialState-as-anti-pattern.html)), but clearly it is not, according to last part of th

[2016-06-27 16:03] adrianha commented on #72
Fixed by adding `webkit-overflow-scrolling: touch` on scrolled component

[2016-06-27 16:03] #72 closed

[2016-06-28 08:53] hedgehog34 commented on #69
I addressed this bug in this PR (along with other things) - #71

[2016-06-28 10:16] mbeaudru opened #73 "Multiple menus in same page"
I would like to use two burger menus, one right and the other left.

But it seems to be a problem because the style is defined through classes like .bm-burger-button, so my two menus have their burger buttons superimposed and I can't add custom classes to differentiate one from another.

Any thought on this ?

[2016-06-28 14:05] hedgehog34 commented on #73
The way I get over this hurdle is:
I set 2 different external files with 2 specific sets of style rules:
[code]

And then when I use 2 different menus I simply pass them in as2  separate objects via `props`:
[code]

This should give you control over each class rules.

[2016-06-29 03:14] negomi commented on #73
Hi @mbeaudru, yep, you'll have to pass the styles for each menu as a JS object, as suggested above. Hope that helps :)

[2016-06-29 03:14] #73 closed

[2016-06-29 03:31] negomi commented on #70
Hi @hedgehog34, I'm glad that fixes it, but I'd need to look into this a bit more as those tests cover a lot of edge cases people have reported while using `isOpen`.

I don't have a lot of time to spend on this at the moment (sorry I haven't got back to you about your PR yet either) but will get round to it as soon as I can. Thanks so much for your detailed reporting! :)

[2016-06-29 12:54] mbeaudru commented on #73
Thank's for the workaround, a bit tricky but easy to implement :+1:

[2016-06-30 02:28] abologna-r7 commented on #70
:1 also confirming this bug :)

[2016-07-02 19:05] negomi commented on #69
Hi @hedgehog34,

Thanks for your PR - I like what you've done with the squeeze effect. I'm still deciding whether to add it to the main package, but in the mean time, I've fixed this issue in v1.9.1.

[2016-07-02 19:05] #69 closed

[2016-07-02 19:05] negomi commented on #68
Added to peerDependencies in v1.9.1.

[2016-07-02 19:05] #68 closed

[2016-07-02 21:57] hansbonini opened #75 "Unknown prop `_radiumDidResolveStyles` on <div>"
Im getting this error in console and menu don`t show up.
How to solve?

Warning: Unknown prop `_radiumDidResolveStyles` on <div> tag. Remove this prop from the element. For details,

[2016-07-03 02:10] negomi commented on #75
This is caused by updating to React 15.2.0, which introduces warnings about unknown props.

The actual error is being thrown by Radium, which this package depends on. Looks like they already have an issue open about this: https://github.com/FormidableLabs/radium/issues/759

So you can keep an eye on that for updates, or downgrade to React 15.1 to avoid the error for now if it's an issue.

[2016-07-03 04:48] negomi commented on #70
Hey @hedgehog34 and @abologna-r7,

This should be fixed in v1.9.2.

I agree it seems not to count as an antipattern to reference the `isOpen` prop (when it exists) in this case, as it is used to seed initial data.

If you're interested, the way I solved the issue of those failing tests was to check for the presence of the `isOpen` prop inside `getInitialState`, rather than setting it as a default

[2016-07-03 04:48] #70 closed

[2016-07-04 11:13] codeheroics opened #77 "v1.9.3 crashes with Webpack"
v1.9.3 crashes at app load with Webpack.
I'm guessing this is due to the problems with Snap.svg which are mentioned in the code and refer to https://github.com/adobe-webplatform/Snap.svg/issues/341 , as https://github.com/negomi/react-burger-menu/commit/66388f57fd331df7e4fd62af94c89c854dcf0872 added `import Snap from 'snapsvg';` to two files of react-burger-menu

[2016-07-04 13:04] snakeyak commented on #77
Same problem here. Here's the error I'm getting:
[code]
1.9.2. works fine

[2016-07-04 16:09] iNikNik commented on #77
@snakeyak same

[2016-07-04 16:17] wongteam commented on #77
@snakeyak same

[2016-07-04 18:33] negomi commented on #77
Ah, just from the import? :/

Stick with 1.9.2 for now and I'll look into it as soon as I can. Thanks for flagging the issue.

[2016-07-04 22:00] negomi commented on #77
Fixed in v1.9.5

[2016-07-04 22:00] #77 closed

[2016-07-15 13:42] hedgehog34 opened #79 "Default icons (burger and cross) cannot be removed entirely"
It seems that using either `customBurgerIcon={false}` or `customCrossIcon={false}` doesn't do anything. In order of removing those two from UI, custom styles object need to be modified ie.
[code]

[2016-07-15 22:06] snakeyak commented on #75
should be fixed in radium v0.18.0, update package pls?

[2016-07-16 18:14] negomi commented on #75
This is now fixed. The current semver range will allow for minor version updates of dependencies, so no need for an update in this package. Thanks!

[2016-07-16 18:14] #75 closed

[2016-07-16 18:17] snakeyak commented on #75
Ah ok, thank you Imogen!

[2016-07-16 20:23] negomi commented on #79
This was a bug, fixed in v1.9.8. Thanks :)

[2016-07-16 20:23] #79 closed

[2016-07-18 10:17] giladbr commented on #56
I was also able to achieve that clicking an item will close the menu simply by using `isOpen={false}` ! Thank you!

[2016-07-18 12:45] Vincz commented on #75
Hi :)

Looks like the warning have been fixed in Radium v0.18 (see https://github.com/FormidableLabs/radium/commit/bf2ce19d4c5ccad0a8487c535338877b241e0104).
When installing react-burger-menu, it keeps installing radium v0.17.2.

[2016-07-18 13:14] giladbr opened #80 "I think the documentation about "IsOpen" should be changed"
My goal was to get the menu to close on click of any of its items.
After spending a few hours with the `isOpen` prop, I realized that all I needed to do was to set `isOpen={false}`.
I now realize that setting `isOpen={false}` means that by default, the menu is rendered as hidden, and on clicking an item the menu will close, probably because the click causes a re-render, using the default setting.

[2016-07-18 22:58] SpainTrain commented on #75
`"radium": "^0.17.0",` that semver range does not pick up `0.18.X`

https://github.com/npm/node-semver#caret-ranges-123-025-004

Fixed here: https://github.com/negomi/react-burger-menu/pull/82

check out https://www.npmjs.com/package/npm-check which is an awesome tool to help with updating deps (no need to memorize node-semver rules)

[2016-07-19 03:40] negomi commented on #75
This is fixed in v1.9.9.

Thanks for the link to the more thorough explanation @SpainTrain. I did not know about the left-most non-zero digit rule when using caret ranges. I'd read https://docs.npmjs.com/getting-started/semantic-versioning#semver-for-publishers, and other things which unfortunately all failed to specifically mention this detail.

Yay for learning new things at least 😄

[2016-07-19 03:49] negomi commented on #80
Hey @giladbr, thanks for the feedback - I'm sorry you had a confusing time with this.

I wonder if an examples section for common patterns (like the close on click behaviour you describe) could be useful here. I tried to keep the documentation for each prop short and specific, so people could skim through it all without getting lost in the details. However, I totally agree some things could use a

[2016-07-19 03:52] negomi commented on #67
This has had no response for a while, so I'm going to close it for now - feel free to let me know if it's still an issue!

[2016-07-19 03:52] #67 closed

[2016-07-20 10:26] timarney opened #83 "Build size using Webpack (React)"
I noticed my build sized jumped quite a bit after importing this package (roughly 175 KB).

Looks like the current built min version for the package is  18 KB (react-burger-menu.min.js).

From what I see this is because at least in part Snap.svg gets included in the bundle regardless of what menu effect gets used when using Webpack (i.e. using only push).

Can you confirm / any thoughts on getting

[2016-07-21 15:38] brugon2016 opened #84 "run start returns error "port in use""
Hi guys, when I run the command "npm start" i got the error below. As far as I understand, it checks the package.json for GULP DEV and so on....  and tells me that port 8000 is in use. Even if the port is by default, where can I change it.

Thanks for the help

events.js:155
      throw er; // Unhandled 'error' event
      ^

Error: listen EADDRINUSE :::8000
    at Object.exports._errnoException (

[2016-07-21 16:10] codeheroics opened #85 "react-burger-menu breaks programmatic scrolls"
Hi,

When react-burger-menu is included on a page, it breaks the ability to programmatically scroll.

For example, in http://negomi.github.io/react-burger-menu/ , after reducing a window, trying to use `window.scrollTo(0, 0)` will never to go top, and `window.scrollY` is always set to 0.

Not scrolling is the expected behavior when the menu is opened, but this happens even with the menu closed (an

[2016-07-22 09:02] brugon2016 opened #86 "common.js ????"
Hi

How do you get the common.js file ?
I know how to do bundle.js (browserifiy) but what is the content of common.js ?

Thanks for the help

[2016-07-22 16:55] CoreyTrombley opened #87 "Overlay css incorrectly positions the overlay when hidden"
So I guess I am the only person having this issue but, from what I can tell the code [here](https://github.com/negomi/react-burger-menu/blob/v1.9.9/src/baseStyles.js#L13) is placing the overlay on the wrong side.
<img width="1269" alt="screenshot 2016-07-22 12 51 04" src="https://cloud.githubusercontent.com/assets/2028391/17064541/fe41816a-500a-11e6-86d0-2c41ee000653.png">
If I change the `-100%`

[2016-07-22 18:41] CoreyTrombley commented on #87
Oh I think the `isOpen` ternary is backwards

[2016-07-23 17:36] negomi commented on #83
Hi @timarney, I'm not super familiar with Webpack so I don't have a solution off the top of my head.

This issue has been raised before, and I restructured the code so it would no longer pull in Snap.svg for menu effects that didn't use it (see https://github.com/negomi/react-burger-menu/pull/74 for reference).

As to why it's still getting included in your build, I'm afraid I'm not sure. @MikeKle

[2016-07-23 17:45] negomi commented on #84
Hi @brugon2016, you need to find what's using that port and stop the process.

This Stack Overflow link may help: http://stackoverflow.com/questions/8553957/how-to-release-localhost-from-error-listen-eaddrinuse

[2016-07-23 17:45] #84 closed

[2016-07-23 18:06] timarney commented on #83
Okay thanks @negomi for the ref to #74

I'll put together a standalone repo next week with webpack just the menu to confirm.

[2016-07-23 19:37] timarney commented on #83
Here's a link to the intial test repo -  157 KB with React split out into a seperate vendor folder
https://github.com/timarney/react-burger-menu-webpack-test

I'll do some more testing and let you know what I figure out.

[2016-07-24 00:01] timarney commented on #83
Doing a direct import seems to work the best (using es2015):

```import Menu from 'react-burger-menu/lib/menus/push'```

That drops the bundle size down to 74 KB

I ran this tool as per #74

https://github.com/robertknight/webpack-bundle-size-analyzer

On my test repo - here's part of the report

[code]
So given the dependencies involved 74 KB seems to be the lowest I can get.  Much better than wh

[2016-07-24 00:01] #83 closed

[2016-07-24 01:46] negomi commented on #83
Cool, glad you managed to find a workaround.

I'd be surprised if there wasn't something you could do with Webpack config to avoid bundling unused dependencies - I'll let you know if I come across anything!

[2016-07-24 02:04] negomi commented on #87
Hey @CoreyTrombley,

-100% or 100% should have the same effect of getting the overlay off the screen, which is all the aim is here. Your fiddle also shows the expected behaviour.

I'm not sure what's going on in your first screenshot but it's definitely the first time I've seen that happen - if you can put a small example repo together reproducing the issue, I'd be happy to take a look :)

[2016-07-24 02:10] negomi commented on #86
Hi @brugon2016, not sure what you mean.

Do you mean the common.js file generated when you run this project locally? That's the bundle of vendor dependencies used for the demo page at http://negomi.github.io/react-burger-menu/.

What are you trying to do?

[2016-07-24 02:13] negomi commented on #85
Hi @codeheroics, it's probably to do with what I'm setting/re-setting a value to on `window` to disable scrolling when the menu is opened.

I'll take a look asap - thanks for reporting :)

[2016-07-25 00:13] timarney commented on #83
Webpack 2 will have tree-shaking (removal of unused exports) when it comes out.

[2016-07-25 08:30] brugon2016 commented on #86
Hi thanks for replying. It's fine now. I thought the common.js was a file missing in the project. :)
Everything works fine now.

Cheers

[2016-07-25 09:04] brugon2016 opened #88 "Livereload"

[2016-07-25 09:07] #88 closed

[2016-07-26 04:09] #86 closed

[2016-07-26 08:30] brugon2016 opened #89 "SyntaxError: expected expression, got '<'"

[2016-07-26 08:50] #89 closed

[2016-08-08 18:21] kvnvelasco opened #91 "Menu opens whenever I click any link anywhere."
So,

I've checked the logs, nothing is being dispatched. Something is happening that I don't understand.

I've wrapped every link imaginable in radium, to no avail.

[2016-08-08 18:23] #91 closed

[2016-08-08 18:23] kvnvelasco commented on #91
I am an idiot.

[2016-08-09 07:21] kvnvelasco commented on #85
@negomi how do we disable scrolling when the menu is open?
for longer menus on mobile the menu gets truncated and I cannot scroll.

[2016-08-13 06:57] msimonc opened #93 "Samsung Tab3 Illegal constructor"
How's it going?

I've got a cross device issue.  The menu works on an old Android HTC, all Apple devices and on browsers but,

the Samsung Tab3 throws an "Illegal constructor" error on app start up when the menu is included in the build.

The device identifies as: "Mozilla/5.0 (Linux; U; Android 4.4.2; en-au; SM-T315T Build/KOT49H) AppleWebKit/534.30 (KHTML, like Gecko) Version/4.0 Safari/534.30"

[2016-08-14 23:48] negomi commented on #87
I have changed this to `100%` in v1.10.4, so hopefully this has fixed your problem!

[2016-08-14 23:48] #87 closed

[2016-08-15 00:02] negomi commented on #85
@codeheroics: ah, so this is happening because of the way the component uses container elements for several of the animations. The scroll actually happens on the internal wrapper component (`#page-wrap` in the demo) rather than on `window`. So for programmatic scroll, you would need to set the `scrollTop` property of that element (see https://developer.mozilla.org/en-US/docs/Web/API/Element/scroll

[2016-08-15 00:02] #85 closed

[2016-08-15 00:11] negomi commented on #93
Hi @msimonc,

Thanks for reporting - unfortunately I don't have access to one of these devices to investigate.

I'll mark it as a bug for now, but I don't know what's causing it off the top of my head, and a quick Google of the error doesn't offer anything useful, so to be honest I'm not really sure where to start!

Can you access a more detailed stack trace?

[2016-08-16 07:29] msimonc commented on #93
It's a pretty stock Samsung, so might be worth chasing.

Great question, I looked high and low for the trace.  This won't be the last time it would help either.
Remote debugging of the device would be ideal, just need  more   time  .

Thanks!

[2016-08-17 21:10] CoreyTrombley commented on #87
Hey @negomi,

Thank you so much. After further review of my issue. I found that when using `display: flex;` on the parent element of the menu, this error occurs. I hope that helps in some way, even though you have made the change.

Sorry, I didn't make the change in a PR. I got caught up in other work things.

[2016-08-29 16:35] devel-pa opened #94 "Items that close the menu and items that don't close it"
Hi,
I have a two levels menu and first level selects what is displayed in the second.
Another scenario is to have items that close or not on different levels.
There is any way to differentiate the two cases?
Thank you,
Paul

[2016-09-01 18:30] devel-pa commented on #94
solved by using `togleMenu`

[2016-09-01 18:30] #94 closed

[2016-09-02 08:28] 2easy opened #95 "customBurgerIcon overwrites class of the supplied element"
I want to use Font Awesome icon but the elements class is overwritten, my workaround:

`<Menu styles={styles} customBurgerIcon={ <span><i className='fa fa-cog fa-spin' /></span> }/>`

I think 'bm-icon' should be appended if the supplied React Element has it's own class.

[2016-09-02 09:01] 2easy opened #96 "Not closing after clicking on element"
Is this intended behaviour? If I pass `isOpen={false}` (which should be by default false according to docs) then it closes as I want it to. This is kind of unintuitive.

[2016-09-02 09:08] 2easy commented on #96
can be closed due to #80

[2016-09-02 09:10] 2easy commented on #80
+1

[2016-09-02 11:08] 2easy opened #97 "Custom styles for Menu children"
Styles of children of the menu (links and others) are overwritten. My workaround is wrap them in additional element. Same as in #95 I propose the possibility of overwriting styles per element.

[2016-09-03 16:48] stahlmanDesign opened #98 "isOpen true error can't find page-wrap and outer-container"
I'm getting these errors when I set isOpen to true so the menu starts in an open state:

[code]

It ends up working, but I want to get rid of the errors. I've tried rearranging my divs, even setting placeholder divs with those IDs in index.html but it always throws the errors. Does not throw them is isOpen={false}

[code]

[2016-09-03 17:17] negomi commented on #96
Thanks for the feedback - I'll improve the `isOpen` documentation when I get a chance.

[2016-09-03 17:17] #96 closed

[2016-09-03 18:09] negomi commented on #95
Hi @2easy, this is happening because `customBurgerIcon` is only really expecting an image.

I am happy to make it more flexible to allow font icons too though.

[2016-09-03 18:23] negomi commented on #97
Hi @2easy, how are you passing styles of the children?

You can pass a styles object with the `bmItem` key and the component will not override these styles:
[code]
I agree it's not well documented, so I should fix that. Does that solve your problem?

[2016-09-03 18:26] negomi commented on #98
Hi @stahlmanDesign, ah yes, I see this error too.

My initial thought was that `getElementById` must be getting called before the elements existed in the document. But if I log the document just before the `getElementById` call, those elements are in it, so I'm not entirely sure why the error is being thrown.

I'll look into it - thanks for reporting.

[2016-09-05 07:57] 2easy commented on #95
Thanks! According to documentation any React Element should be allowed. If you don't have time I can make PR.

[2016-09-05 08:05] 2easy commented on #97
Not really, cause I want different styles per element. The case is - I want to center content of the first item (which is user avatar) and not the rest. It could be any element though, ie. different color for logout. I think the best solution is to merge this Menu styles with item styles. I can make PR if you don't have time for it.

[2016-09-05 21:07] manosim commented on #56
I have exactly the same issue with @giladbr (I'm also using redux) and I'm on version `1.10.4`. I've set `isOpen={ false }` but when I click on a link the menu does not close. Any ideas?

[code]

[2016-09-06 00:34] stahlmanDesign commented on #98
Related to this, if I start with isOpen true, if I close, anything I click will reopen it.

[2016-09-06 01:24] negomi commented on #95
Yep, that's correct, it's just a use case I wasn't considering initially :)

If you feel like making a PR that would be great! Otherwise I will get round to this when I have time (not sure exactly when that will be though).

[2016-09-06 01:25] negomi commented on #97
Ahh I see. That's a use case I would be happy to add as an enhancement. PR would be welcome!

[2016-09-07 18:40] robrobkay51 opened #100 "Fixed header while menu open?"
I have implemented the burger-menu along with a fixed header bar which runs across the top of my application.

The header remains fixed on scroll when the menu is closed however when the menu is open, the header bar is no longer fixed and scrolls down the page.

I would like the header bar to also remain fixed when the menu is open - is there any way I can achieve this?

Any help much appreciated!

[2016-09-12 00:04] deviantony opened #101 "Unable to access props in the menu"
For some reason, the following error is raised when trying to access props in the Menu:

[code]

And the page is not rendered. I'm using React 15, `react-router` and the following code:

[code]

Note that this seems to fail on the `props.contact` test. Also, the following works perfectly:

[code]

[2016-09-12 20:57] html5-ninja commented on #44
I had the same issue, I'm using burger menu with react router, I simply wrapped my links in a div
`    <Menu>
                    <div>
                    <Link id="home" className="menu-item" to="/">Home</Link>
                   </div>
     </Menu>
`
hope this help

[2016-09-14 20:41] AdamGustavsson commented on #80
+1

[2016-09-16 06:48] mxs commented on #44
I've tried all of the above methods to get around the issue but only the wrapping of of `Link` in a `div` worked in the end.

[2016-09-20 02:40] vizFlux commented on #39
Yea, would be great to include this feature.

[2016-09-20 14:19] ceasbz opened #102 "Problem with Firefox IOS"
I am testing in your website example (http://negomi.github.io/react-burger-menu/) and have a problem with Firefox IOS, look:

![img_4141](https://cloud.githubusercontent.com/assets/7065285/18673754/522b1614-7f23-11e6-8d24-8fd4e3598310.PNG)

Informations:
- Browser: Firefox 5.2
- Hardware: IPhone 5s (IOS 10)

The Menu `transiction` doesn't work. Do you have any idea when going to support that?

[2016-09-23 06:07] ixley opened #103 "'overflow-x: hidden;' does not get removed from html or body tags"
After getting triggered for the first time, the inline styles for `overflow-x: hidden;` that get added to the `html` and `body` tags do not get removed on close. I'm not sure why they don't get removed (it looks like they're supposed to?), but I noticed it because it causes conflicts for us.

[2016-09-23 06:11] ixley commented on #100
@robrobkay51 can you check and see if the `overflow: hidden;` styles get added to and removed from the `html` and `body` tags? We are experiencing similar conflicts so I'm curious whether this is a related issue.

See #103

[2016-09-23 06:28] negomi commented on #103
Hi @ixley, I see this too - it's a bug. Will fix asap.

Thanks for reporting!

[2016-09-23 06:31] negomi commented on #102
Hi @ceasbz,

This project has never really focused on extensive browser support, but I am happy to accept PRs, or will look into this when I get some time.

Thanks for raising the issue.

[2016-09-25 06:06] ceasbz commented on #102
@negomi Currently, what are the supporting browsers? Do you have any idea?

[2016-09-25 22:01] negomi commented on #102
https://github.com/negomi/react-burger-menu#browser-support

But that only covers web - no guarantees about the mobile versions.

[2016-10-04 16:57] jsingh27 opened #104 "Custom Icon placed anywhere to toggle menu"
Hi,

Please add a option so that I can add any icon from material-ui/or any other library anywhere to toggle the menu.

For example: I want to place an custom an icon in <Header> component to toggle the menu.

Thanks :)

[2016-10-06 22:01] ConneXNL commented on #103
Also came across this issue.
Any ETA @negomi  ?

[2016-10-06 22:35] aysark commented on #97
@negomi just to piggyback on this, i had a question- is this component strictly for menus/navigation links or can one use it as a docked sidebar with content?  As i'm seeing acouple people raise issues with being able to customize icons for each child which would be needed if it were to be used as a docked sidebar with various different child components.

[2016-10-08 23:49] negomi commented on #103
Fixed in v1.10.6

[2016-10-08 23:49] #103 closed

[2016-10-08 23:54] negomi commented on #100
Hi @robrobkay51, are you able to put an example of this bug into a small repo so I can look into it? Thanks.

[2016-10-09 00:04] negomi commented on #104
Hi @jsingh27, you should be able to achieve this already with a combination of https://github.com/negomi/react-burger-menu#open-state and https://github.com/negomi/react-burger-menu#custom-icons.

Pass `customBurgerIcon={ false }` to avoid rendering the default burger icon. Then attach an event to the icon you want to open the menu. In its handler, you'll need to trigger a re-render (exactly what

[2016-10-09 00:04] #104 closed

[2016-10-09 02:35] negomi commented on #80
I have now expanded the documentation to hopefully better explain how to use this prop.

Thanks for your suggestion!

[2016-10-09 02:35] #80 closed

[2016-10-09 02:36] negomi commented on #101
This should be fixed from v1.10.7 - thanks for reporting!

[2016-10-09 02:36] #101 closed

[2016-10-09 02:49] negomi commented on #97
Hi @2easy, the menu now (since v1.10.7) allows different styles to be passed to each child element inline. They will be merged, and not overwritten like before.

Hi @aysark, it can be used for anything :) It was initially intended to just contain a list of similarly styled links (as in the demo), which is why it didn't previously support different styles for individual child elements. But I'm grad

[2016-10-09 02:49] #97 closed

[2016-10-12 14:44] robrobkay51 commented on #100
Hi @negomi, problem can be found in the repo link below (which is based on dave zuko redux boilerplate)

[](https://github.com/robrobkay51/slide-app
)

instructions for usage:

npm install
npm start

then go to localhost:3000

You should be able to see the problem when minimizing the window and scrolling down the page.

[2016-10-13 03:16] negomi commented on #100
Ah, so in this case, you will actually want to put your header *outside* the `page-wrap` element:

[code]

I know the docs don't tell you this, but they are misleading, and should really say 'the rest of the content on your page **except** fixed elements'. I will update them asap.

Thanks for raising this - I hadn't run into this use case yet :)

[2016-10-13 03:16] #100 closed

[2016-10-13 03:21] negomi opened #105 "Add docs for where to put fixed elements"
They should be placed outside the `page-wrap` element.

[2016-10-13 06:40] negomi commented on #105
Details added here: https://github.com/negomi/react-burger-menu/wiki/FAQ#i-have-a-fixed-header-but-its-scrolling-with-the-rest-of-the-page-when-i-open-the-menu

[2016-10-13 06:40] #105 closed

[2016-10-14 23:21] wlingke commented on #44
It would be nice if this was added to the documentation. Just one line somewhere would do: custom elements as a child of the menu or as a custom icon/etc. may not work due to radium and need to be wrapped in Radium or in a <div> or <span>

[2016-10-15 03:10] negomi commented on #44
Hi @wlingke, there is already link in the documentation to the wiki where this issue is addressed: https://github.com/negomi/react-burger-menu/wiki/FAQ#why-doesnt-the-link-component-from-react-router-work

I'm not sure exactly what causes the need for an extra `div` (i.e. when wrapping in Radium is not enough). If I know the reason, I'm happy to add this use case and explanation to the docs.

[2016-10-16 02:48] dfunaki opened #106 "I am following the demo, but I do not see the burger menu, functionality exists"
I am trying to use this, but I cannot see the burger menu, but if I mouse hover over and click, the menu appears.  Also, specifying
`
<Menu left> .... </Menu>
`
  if I click on the right side of the browser, it pops up...

Can anyone help me out?

[2016-10-16 03:03] negomi commented on #106
Hi @dfunaki, so you're able to click on the element to open the menu, but just can't see burger icon?

My first guess would be that it's a styling issue. Have you given the bars a background color?

There are a few other things it could be, but it's hard to say without seeing your code. If you can put some code recreating the issue in a small repo, I'm happy to take a look.

[2016-10-16 03:05] dfunaki commented on #106
`import React from 'react'
import {slide as Menu} from 'react-burger-menu';

var GlobalNav = React.createClass({

  render() {
    return(
      <div style={{height: '100%'}}>
       <Menu>
          <a id="home" className="menu-item" href="/">Home</a>
          <a id="about" className="menu-item" href="/about">About</a>
          <a id="contact" className="menu-item" href="/contact">Contact</a>

[2016-10-16 03:14] negomi commented on #106
Ah yep, you won't see anything if you haven't added styles yet.

Try adding the demo ones:
[code]

Then add them to your menu like this:
[code]

[2016-10-16 03:14] dfunaki commented on #106
Ok,  I'll try removing all my styles and try that again

[2016-10-16 03:17] dfunaki commented on #106
Would you know why click on the right side of the browser also triggers the menu?

[2016-10-16 03:21] negomi commented on #106
I'd guess it's because the button is spanning the whole width of the viewport because you haven't set a width for it yet. This should also be solved by adding the demo styles.

They're a good starting point to see how everything should work, and then you can tweak things to get it looking how you want.

[2016-10-16 03:21] dfunaki commented on #106
Ok  great,  thank you

[2016-10-16 12:42] amitava82 commented on #94
How is this solved? I could not find any reference to `togleMenu`

[2016-10-16 17:09] wlingke commented on #44
@negomi Yes I read that but didn't realize it applied to ALL custom elements. Also did not realize it applied other customizable parts - like when specifying a custom icon (I was using `react-fa` for instance). Perhaps that could be noted for people like me who do not have much experience with Radium.

Also it might be worth noting that it seems with some custom elements, even after you wrap it, R

[2016-10-16 19:40] negomi commented on #44
So it seems like there are a few things going on here:

When you say 'all custom elements', do you mean all child elements of the menu? As far as I'm aware, you only need to wrap these in Radium if they're react-router `Link` components.

So you're saying that when supplying a `customBurgerIcon`, you need to wrap it in Radium? I didn't know this either, and I'm not sure why it would be necessary.

[2016-10-16 19:48] negomi commented on #94
Hi @amitava82, this issue was closed before I was able to look into it.

There is no `togleMenu` (there is a `toggleMenu` but that's used internally).

If you're having problems, the best thing to do is open a new issue explaining:

1. What you're trying to achieve
2. What you've tried so far
3. How it's not working

Feel free to attach code snippets or a link to a sample repo I can take a look at

[2016-10-16 20:33] devel-pa commented on #94
@amitava82 As the source code is the best reference I observed that the line

https://github.com/negomi/react-burger-menu/blob/master/dist/react-burger-menu.js#L346

is doing the closing of the menu depending on the small condition `isOpen` when you set `isOpen` as `true` (from docs)

So, now, all the menu items that I want to close the menu after selecting them I have an `onClick` event that call

[2016-10-16 21:50] negomi commented on #94
Ah ok. This works, but it's not advisable for a couple of reasons:

1. `toggleMenu` is an internal method. That means if I decide to change how the component works internally, rename that method, or stop exposing it altogether, your code will break.
2. There is already a way to do what you're doing by passing props, which is the technique [recommended in the React docs](https://facebook.github.io/

[2016-10-16 21:56] #106 closed

[2016-10-16 21:59] wlingke commented on #44
@negomi The reason why the Link component doesn't work is because Radium doesnt work with custom components (https://github.com/FormidableLabs/radium/tree/master/docs/faq - read: Why doesn't Radium work on react-router's Link, or react-bootstrap's Button, or SomeOtherComponent?) Wrapping Radium around the custom component seems to solve this issue for most of custom components.

So basically anyth

[2016-10-17 03:29] kakariko-village opened #107 "Problem with Firefox, React-Router, React-MDL"
Hi, thanks you for your awesome React Burger Menu, I really like it. However, today when i test my project in Firefox, it display blank page and got this error on console: "TypeError: CSS2Properties doesn't have an indexed property setter for '0'". I tried to apply Radium follow your guide: https://github.com/negomi/react-burger-menu/wiki/FAQ#why-doesnt-the-link-component-from-react-router-work

I

[2016-10-17 05:59] zenners commented on #107
Hey have you tried some of the solutions at #44?

Personally trying them myself. Haven't gotten it to work yet. Let me know how it goes for you

[2016-10-17 07:01] kakariko-village commented on #107
Thank @zenners, I have tried Radium but it does not work. You can read my google doc for more details

[2016-10-18 16:51] adamduren commented on #91
@kvnvelasco Can you please share what the solution was? I am seeing this happen when I click anything on the page.

[2016-10-19 04:40] kakariko-village opened #108 "Modify Push effect"
Hi, i want to change the padding right of the page-wrap when menu was toggled with 'push'. I can do that by changing the push.js like this:

[code]

Are there any other ways to adding more CSS to page wrap when menu was toggled without changing library file like that?

[2016-10-20 22:34] cimi commented on #44
@negomi, please see my example above, I had to wrap a react-bootstrap `Glyphicon` without having anything to do with react-router. (I do use react-router in the project, just not in the burger menu). I didn't understand _why_ I had to do that, but it broke FF if I didn't.

[2016-10-20 22:36] wlingke commented on #107
@kakariko-village try my solution on #44

[2016-10-25 13:43] mikemerritt opened #110 "Including inputs in menu."
I have a search form that I have to include in the burger menu. The problem is that it automatically closes on keypress. Is there a setting for this or an easy way to override this behavior?

I've tracked this down to isOpen={false} Is there any easy way to close by default ONLY when navigating to another page?

[2016-10-31 15:28] keiver commented on #98
I was getting this bug, solved it by changing the state to open on ```componentDidMount()```.

[2016-11-02 12:49] deser commented on #83
Hi Guys, is it possible to make Radium dependency optional?
If somebody passes via props `radium={true}` then it would return `return Radium(React.createClass({`. Otherwise it would return just `React.createClass({`

[2016-11-02 16:02] ranjithnori commented on #102
@ceasbz Did you find a workaround for this issue ?

[2016-11-03 11:43] deser opened #111 "Turn off radium"
Hi Guys, is it possible to make Radium dependency optional?
If somebody passes via props radium={true} then it would return return Radium(React.createClass({. Otherwise it would return just React.createClass({

[2016-11-05 00:22] jsingh27 commented on #104
Thanks :')

[2016-11-05 10:26] mitalcoi opened #112 "Nested menu items"
Is it possible with react-burger-menu to create menu with nested items?

[2016-11-06 18:49] negomi commented on #44
Hey all, thanks for your input on this (especially @wlingke) - I've now updated the FAQs to include this solution: https://github.com/negomi/react-burger-menu/wiki/FAQ#i-want-to-use-custom-components-inside-my-menu-but-this-breaks-firefox

[2016-11-06 18:54] negomi commented on #107
Hi @kakariko-village, you would need to wrap all custom elements in Radium for this to work (including the `<List>` component of React-MDL). @wlingke's solution will also work.

Sorry the docs on this were incomplete - both solutions are now in the FAQs: https://github.com/negomi/react-burger-menu/wiki/FAQ#i-want-to-use-custom-components-inside-my-menu-but-this-breaks-firefox

[2016-11-06 18:54] #107 closed

[2016-11-06 19:22] negomi commented on #110
Hi @mikemerritt,

If you're hardcoding the `false` in `isOpen={false}`, and a keypress in your search form is causing a re-render, then the menu will close on each keypress.

The way to get around this would be to pass a variable to `isOpen` instead, and only set it to false when you actually want the menu to close (e.g. on click of a navigation link). Something like this:

[code]

[2016-11-06 19:22] #110 closed

[2016-11-06 19:27] negomi commented on #112
Hi @mitalcoi, sure - react-burger-menu is unopinionated about what you put in it.

You could create item components that show another nested menu on hover, for example. I don't have a specific example of this, but it should totally be possible :)

[2016-11-06 19:27] #112 closed

[2016-11-06 19:43] negomi commented on #111
Hi @deser,

This isn't currently possible, and there are a couple of reasons why not:

1. Radium provides automatic browser prefixing. Without it, browser support for several of the animations would be worse.
2. Secondly, the menu uses Radium to compose styles. It allows elements inside the menu to receive an array of style objects, and override the defaults as necessary, which is how custom style

[2016-11-06 19:43] #111 closed

[2016-11-06 19:58] negomi commented on #108
Hi @kakariko-village,

The menu doesn't provide a specific way to style the page-wrap element, as it's outside the menu itself.

One way you could do this is [detect the menu state change](https://github.com/negomi/react-burger-menu#state-change) and then toggle a class on your page-wrap element in the callback function.

[2016-11-06 19:58] #108 closed

[2016-11-06 20:05] negomi commented on #98
Thanks @keiver - makes sense that this would solve the problem. I've added your solution to the docs: https://github.com/negomi/react-burger-menu#open-state 👍

[2016-11-06 20:05] #98 closed

[2016-11-07 10:48] deser commented on #111
This could be done via autoprefixer.

Due to this I have to rewrite styles in CSS via !important which is bad. I know I can place rewrite styles via property but this is not flexible ( for example I have some scss variables which control `z-index` therefore I need to override styles of burger menu via css)

Actually I've rewritten this package without radium in an hour and there are lot of benefit

[2016-11-09 06:10] negomi commented on #111
Awesome, good for you. Well if you feel like submitting your changes in a PR then I would be happy to consider merging :)

[2016-11-10 14:37] ceasbz commented on #102
Hey @negomi, sorry for delay.

Thanks for the answer. :)

[2016-11-10 14:38] ceasbz commented on #102
@ranjithnori No, but when I got time, want to solve that.

Do you have any solution?

[2016-11-11 08:03] anarchyrucks opened #113 "Disable hover effect on .bm-menu-button."
Hi, I can't seem to be able to disable the burger menu hover effect.

[2016-11-22 14:24] cristiandley opened #114 "noOverlay doing nothing..."
Hi guys, first... great component,

The issue im having is that noOverlay is not being set on the [if condition](https://github.com/negomi/react-burger-menu/blob/master/src/menuFactory.js#L181)

![props](https://cloud.githubusercontent.com/assets/1873659/20527037/8bfa86fa-b0a5-11e6-8989-b980d3bf60ed.png)

After playing a little with the component i realised that even setting `noOverlay` or `noOver

[2016-11-22 15:48] cristiandley commented on #114
I apologize, i found the error... some other module was namimg my Redux state to false. I will proced to close this issue.

[2016-11-22 15:48] #114 closed

[2016-11-27 16:11] 2easy commented on #97
Perfect! Thanks :) And sorry for no PR, as it turned out, I also had no time.

[2016-11-27 21:02] 2easy commented on #113
Hi, had the same problem. You can bypass this by setting styles for bmBurgerBars like this (if you're setting them by javascript - similarly in css):

[code]

[2016-11-27 21:22] 2easy commented on #39
You can set `isOpen` and `noOverlay` props to `window.innerWidth > 768`. The only issue with this approach is that menu closes when user presses ESC key. If only there was the option `disableEscKey`, then you could set it also to `window.innerWidth > 768` and you have your responsiveness.

[2016-11-30 15:51] #113 closed

[2016-11-30 15:51] anarchyrucks commented on #113
thanks!

[2016-12-01 07:26] viveke commented on #65
I was also looking for a typing definition for this one.

[2016-12-02 15:10] radiovisual opened #115 "Elastic Menu Cutoff when <Menu right />"
The `<Menu right />` option on the `Elastic` setting seems to be forcing the menu items to be cutoff.

Here is a screenshot of your [Demo App](http://negomi.github.io/react-burger-menu/) in Chrome `Version 54.0.2840.98 (64-bit)` (MacOS Sierra 10.12):

![image](https://cloud.githubusercontent.com/assets/5614571/20838440/86b8c834-b8a0-11e6-9ce7-83caa6f33cd0.png)

and here it is again in Firefox `Ver

[2016-12-05 04:06] horaceleung commented on #102
If anyone have a quick workaround for this, would be much appreciated!

[2016-12-05 07:44] ranjithnori commented on #102
@horaceleung
https://github.com/ranjithnori/react-burger-menu/commit/800f696fea73b60bca5d3a3e0a7cd4d50c91ee7d

With this commit, the issues we faced with some older Firefox versions are resolved. Please see if it works for you.

[2016-12-06 17:00] horaceleung commented on #102
hey @ranjithnori
thanks a lot for the help. I've tried using your commit and deployed it, but it still hasn't fixed the issue unfortunately :(

[2016-12-08 09:17] lcnsir opened #116 "Submenu"
Hi

Is there have some examples to make submenus in Menu by using react-burger-menu,

like 1,2,3 level submenus. for example.

-----1
   ------2
      --------3.1
      --------3.2

[2016-12-15 09:53] sarovin opened #117 "Change page-wrap transform"
How i can change the transform options for the page-wrap?
I want change this `transform: translate3d(-100px, 0px, 0px);` with this `transform: translate3d(-300px, 0px, 0px);`

[2016-12-15 10:08] #117 closed

[2016-12-17 21:14] negomi commented on #116
Hi @lcnsir, you can use any structure of components or elements inside the menu. I don't have a specific example of this, but you could build a nested tree of submenus to pass as children, or have submenus that show on hover etc.

Depending on what you do, it might behave weirdly with animations that animate child elements (e.g. stack) but should be fine otherwise.

[2016-12-17 21:14] #116 closed

[2016-12-17 23:03] negomi commented on #115
Fixed in v1.10.10 - thanks for the report :)

[2016-12-17 23:03] #115 closed

[2016-12-18 14:59] kikoanis opened #120 "RTL Styling Support"
Is there any chance that you can extract all styling in a separate file so that we can apply RTL conversion on it.

BTW, thank you for putting this together. It's been awesome for me so far.

[2016-12-21 06:46] negomi commented on #120
Hi @kikoanis, glad you like the component :)

Which styling do you mean? The content styling is up to you anyway, and the animation styling has right and left versions, but the animations are independent of content direction, so RTL content would work with either.

[2016-12-21 15:40] kikoanis commented on #120
Not sure if the animation staring from right is what I am looking for.
As you may know, the RTL UI has two aspects:
1.  RTL CSS which is achieved through converting CSS to be RTL compliance (everything has to flow from right to left). This can be done using an RTL tool which is not complicated if you have the CSS available to you not embedded in a script.
2. Direction by changing the direction of

[2016-12-22 04:02] negomi commented on #120
Ooh I see! I actually haven't worked on RTL layouts at all, so I was under the impression it was just adapting CSS so that RTL text would flow correctly.

I would love to look into the best way of supporting what you're talking about.

The problem with pulling the component styles out into stylesheets is that a lot of the styles are composed/dynamically generated/configurable through props, so all

[2016-12-27 19:26] marcospassos commented on #39
@2easy any update about that? I'm really interested in this feature.

[2016-12-30 15:29] 2easy commented on #39
@marcospassos Yeah, no update. I didn't have time to rewrite test. I'll do it asap.

[2017-01-01 10:06] matankastel opened #121 "Radium version is not up to date"
By using Radium v0.18.0 there is a problem, a newer version (v0.18.1)

Need to change line on package JSON file:

Radium v0.18.0  ---> Radium v0.18.1
 "radium": "^0.18.0" ---> "radium": "^0.18.1"

Changes based on Radium git:

This is due to changes in ES2015 ,
_"This project is deprecated for users of Babel v6.13+. It will still be maintained for users of earlier Babel versions. "_
See https://ww

[2017-01-03 10:18] bougattab commented on #66
Hi @negomi ,

I got the same error running this code (and the page won't reload), i have firefox (version 49) this my code:

import React from 'react'
import { slide as Menu } from 'react-burger-menu'
import { Link } from 'react-router'
import { FormattedMessage } from 'react-intl'

let menuStyles = {
  bmBurgerButton: {
    position: 'relative',
    width: '30px',
    height: '30px',
  },
  bmBur

[2017-01-04 01:17] TimMeade commented on #95
Any update on this?  We were actually hoping to use a styled Button....

[2017-01-18 22:53] nickdima commented on #111
A "radium free" version wouldn't be a bad idea.
There are a lot of css-in-js react libs out there and every component using different ones makes an app to unnecessary grow in size. Too bad the React community didn't settle on one solution yet. :(
Regarding browser prefixing, probably most of the apps already have something in place for that.

Thanks for building such a great component!

[2017-01-19 21:14] wlingke opened #124 "Custom className"
It would be nice if we could do something like:

[code]

and render:

[code]

This is useful for those of us who prefer css modules over radium and don't want to modify the global classes you offer (for ex. if I am creating two types of menus).

[2017-01-19 21:16] wlingke commented on #124
Obviously current workaround is just <div className="blah"><Menu /></div>, but should be really easy to accept a classname :)

[2017-01-19 22:15] wlingke commented on #39
Despite me also needing this, I actually disagree that this should be a feature. I really appreciate that react burger menu (RBM) does one thing really well and has a very clear use case. This feels like feature bloat to me.

Plus there are some weird CSS issues you'd have to think about. RBM works by leveraging CSS transforms. If you had some permanent menu that was always open, you'd have to wri

[2017-01-21 08:40] 2easy commented on #39
@wlingke In desktop mode menu is docked - there are no transforms. If you're talking about padding (so the menu does not cover the content) it must be taken into account either way. RBM can do it automatically, as some animations take content into div - it can be padded easily.

The update preserves old behaviour so it does not interfere with your implementation. Furthermore, it compresses it so y

[2017-01-23 14:27] radziksh opened #125 "add push-shrink effect"
I want to modify push effect in such way that right side of the container did not go off the screen. But problem in strange shaking (Chrome) of the container's right side during the animation. So I just set transition to `0s` My code:

     pageWrap: function pageWrap(isOpen, width, right) {
         return {
             transform: isOpen ? '' : right ? 'translate3d(-' + width + 'px, 0, 0)' : 'tr

[2017-01-25 11:55] marcfielding1 opened #126 "When menu is hidden it's still partially visible and also opens too far."
Heya,

So I'm following through the example on the github page, the menu works fine but is incorrectly positioned when opened and closed? You can see it peeking over the left hand side, when it's opened theres a gap between the left of the menu and the screen? Any tips?

<img width="1440" alt="screen shot 2017-01-25 at 11 51 08" src="https://cloud.githubusercontent.com/assets/2651211/22289658/a910

[2017-01-25 12:06] marcfielding1 commented on #126
It's ok fixed it, rather embarrassingly it was positioned by the parent element, I moved the menu like so and it all works fine!

[code]

[2017-01-25 12:06] #126 closed

[2017-01-25 17:26] Alorse commented on #102
Has anyone found any solutions to this bug?

[2017-01-30 03:01] amitrai99 opened #127 "React v0.14 support"
The dependency for this component seems to be `"react": "^15.4.1",`. Is there a version that I can use with react 0.14?

I know that the documentation states that I can use this in both the versions of react but was not sure if having two versions of react in the same codebase causes issues.

[2017-02-01 14:21] matejstrasek commented on #102
I would also need a solution for this. :P

[2017-02-01 14:26] jontelm commented on #102
I think problem is that we need to add some -Moz css to get this to work. The best option is maybe to move the css to a separate css file instead of inline, because we can easily solve this issue then with https://github.com/postcss/autoprefixer so we don't get this kind of problems later on.

[2017-02-01 14:28] jontelm commented on #124
#102 This is maybe related to having a separated css file.

[2017-02-01 16:24] matejstrasek commented on #102
With this it works for me now: https://github.com/negomi/react-burger-menu/commit/19caff4bc5d3b795a16ba08a2eccef9eabba67e4

[2017-02-08 13:05] BKozlowWaverley opened #128 "Transform problem with 'pageWrapId' container after quick close\open action"
All animations that require 'pageWrapId' don't work correctly after after quick close\open action(dbclick on overlay), because they lose transform property on 'pageWrapId' container.

To reproduce:
1) Open http://negomi.github.io/react-burger-menu/
2) Select 'push' animation
3) Make dbclick on overlay or cross button

[2017-02-10 04:14] seanseany commented on #39
Really looking forward to this feature!

[2017-02-10 17:14] fgiarritiello commented on #39
Not having this feature is the only thing that is not making me use this menu. So I can't wait until it's available :)

[2017-02-11 19:44] negomi commented on #127
Hi @amitrai99,

That's the version listed in `devDependencies`, but the range in `peerDependencies` is `">=0.14.0 <16.0.0"`, which means you should be fine to use this if you're using React 0.14.

Let me know if anything's not working as expected :)

[2017-02-11 19:44] #127 closed

[2017-02-11 20:13] #128 closed

[2017-02-11 20:13] negomi commented on #124
Added in v1.10.11

[2017-02-11 20:13] #124 closed

[2017-02-11 20:14] negomi commented on #121
Fixed in v1.10.11

[2017-02-11 20:14] #121 closed

[2017-02-11 20:24] negomi commented on #125
Hi @radziksh,

A few people have expressed interest in a responsive menu, or one that doesn't fully disappear off the edge off the screen (see https://github.com/negomi/react-burger-menu/issues/39 too).

I would like to add this as an enhancement, but just need to figure out the most flexible way to do it.

I haven't merged this yet, but https://github.com/negomi/react-burger-menu/pull/122 looks l

[2017-02-16 13:33] hariKarthic opened #130 "adding ally roles for Menu"
It would be great if we can throw in some `role`  attributes to the menu . Will score better on **accessibility**

Excellent widget otherwise

[2017-02-19 22:03] kikoanis commented on #120
I can confirm that the right property works fine with RTL. The only issue is that you cannot use the menu with out it in RTL mode. That is if you decided to get the menu appears from left in RTL direction mode.
Of course, you need some tweaking to the some of the menu properties specially the cross button that closes the the menu. Other than that it works fine.

Closing the issue....

[2017-02-19 22:03] #120 closed

[2017-02-20 09:51] horaceleung commented on #102
@matejstrasek Did you try the fix on FF on iOS? I tried it but still doesn't seem to resolve the issue there.

[2017-02-20 09:53] matejstrasek commented on #102
@horaceleung yes, for me it works on iOS with FF.

[2017-02-20 15:38] jquintozamora commented on #125
Hi @negomi ,
First of all, thank you very much for sharing this component. It saved my day.
I used it as a Panel (to show and hide configurations properties). I need to do some adjustments like this:

[code]

And imported the menu like that (typescript):
[code]

Regarding React Responsive Menu, I did something few months ago, just in case it helps you:
https://github.com/jquintozamora/react-respon

[2017-02-23 00:46] OKNoah commented on #39
The `closeOnEsc` boolean param seems vital. Not feature-bloaty at all, in fact if you want close on ESC functionality it's not hard to make yourself.

[2017-02-25 18:12] negomi commented on #102
Fixed by https://github.com/negomi/react-burger-menu/pull/132

[2017-02-25 18:12] #102 closed

[2017-02-25 18:13] negomi commented on #130
Good idea, thanks @hariKarthic!

[2017-03-03 13:02] jhawbrey opened #133 "Elastic menu now expanding to viewport width"
A recent change is now causing the elastic menu to expand and cover the entire viewport width.

https://github.com/negomi/react-burger-menu

[2017-03-05 03:28] ShailajaV opened #134 "UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 740): SyntaxError: TransformError:"
After installing 'react-burger-menu' getting the following error.

transformed 692/706 (98%)(node:16260) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 740): SyntaxError: TransformError: path\node_modules\radium\lib\index.js: Unknown plugin "add-module-exports" specified in "path\\node_modules\\radium\\.babelrc" at 0, attempted to resolve relative to path\\node_module

[2017-03-10 22:50] Sir-Knight opened #135 "Menu is working but the animation won't work"
After I was done with the setup, the menu was completely fine. But the animation of the wrapped page within the outer-container doesn't seem to be affected with the menu.

Main App

      <div id="outer-container">
        <Menu noOverlay pageWrapId={ "page-wrap" } outerContainerId={ "outer-container" }>
        </Menu>
          <main id="page-wrap">
            <div className="App">

[2017-03-11 08:22] Sir-Knight commented on #135
I manage to solve this problem with the configuration. I will close this issue.

[2017-03-11 08:22] #135 closed

[2017-03-13 14:07] Devendra-Lad commented on #95
Can we replace button with Name button

[2017-03-14 09:00] Devendra-Lad commented on #28
Unable to scroll the elements , I am using react-select as burgerMenu Items. When I add too many elements in select window, some bottom items gets half invisible.

[2017-03-14 09:49] Ssabin-devalore opened #136 "Double click when menu is open doesn't close menu"
Hi ,

I'm using this menu in my React app.
When the menu is open and you double click outside his area it is starting to close and then reopens quickly.

[2017-03-14 19:20] k1ng87 opened #137 "getting this to work with react-router"
I'm trying to follow the guide to implement this with react-router...specifically this part https://github.com/negomi/react-burger-menu/wiki/FAQ#why-doesnt-the-link-component-from-react-router-work. The issue I'm having is that the menu button seems to be placed the left of the  menu and the menu does not seem to hide. Looks like the attached screen shot.

[![enter image description here][1]][1]

[2017-03-16 16:31] adailey14 opened #138 "Breaks with Radium 0.18.2 (latest release)"
I can't pretend to understand why, but my latest npm install updated Radium to 0.18.2, which led to this error:

[code]

Maybe someone smarter than me can make sense of that.

[2017-03-16 17:40] adailey14 commented on #138
Someone pointed out to me that this is because I am using a React version before 15.3. I will close this.

[2017-03-16 17:40] #138 closed

[2017-03-16 20:10] ahoym opened #139 "react-burger-menu no longer compatible with react 0.14.x?"
17 hours ago, one of the dependencies, `radium`, patch bumped to version `0.18.2` and started extending from `React.PureComponent` which is react 15 specific. Probably a huge hiccup on their part, but as a result, since we have it pinned with `^`, we're installing up to the highest minor version.

PR that did this on their site: https://github.com/FormidableLabs/radium/pull/868.

This seems like i

[2017-03-19 09:49] shirlyf opened #141 "Uncaught TypeError: Super expression must either be null or a function, not undefined at _inherits (style.js:25)"
Hello there Negomi,

Recently I have added react-burger-menu to my project, at first locally, it worked perfectly and after we merge my code with the master repo, this error showed up and tests were failing,
when trying to resolve this it got worse =/

it seems the issue occurs in Radium.
Do you have any idea what is the cause of this?
(react  15.1.0, react-router: 2.4.1)

Thanks in advance,
 -Shi

[2017-03-19 16:10] flipflopapp commented on #56
@manosim I am facing the same issue - did you manage to fix it somehow?

[2017-03-20 18:11] ahoym commented on #141
@shirlyf, I tracked the issue down here: https://github.com/negomi/react-burger-menu/issues/139

Issue on radium here: https://github.com/FormidableLabs/radium/issues/885

[2017-03-24 05:35] NoobSkie opened #142 "customBurgerIcon Place outside of menu"
Im calling my menu like so:

[code]

Everything is working fine but is there the ability to place the button outside of the menu?

[2017-03-24 05:38] #142 closed

[2017-03-27 20:53] burakuluu opened #143 "When I write 'npm install' and then 'npm start' after cloning the project, it gives an error and doesn't start localhost"
I cloned the project on my local and tried to start the project on my localhost but I faced an error which said;

[code]

Also when I write 'gulp dev' to my command line, it says;
[code]

I'm new to React and really need help to import Github projects on my local.
Please show me the path to start the project.

Thanks

[2017-03-28 11:26] burakuluu commented on #143
I resolved the issue by installing 'gulp' and 'react-component-gulp-tasks' by 'npm install gulp' and 'npm install react-component-gulp-tasks'

[2017-03-29 15:17] aefanov opened #144 "Active menu element"
Hello,
I like this - redux-burger-menu
help me please, how i can set up active element http://prntscr.com/epy3hx
if it home -> home will be have some class (ex. active) and etc....

[2017-03-30 09:28] incorrectusername opened #145 "Not able to use it with react-router"
here is the gist https://gist.github.com/incorrectusername/02ac65abd08cdc52a42cfff5f18e4b56 .

It throws a warning and there is no menu shown.

`Warning: Component(...): A valid React element (or null) must be returned. You may have returned undefined, an array or some other invalid object.`

`Uncaught Error: Component(...): A valid React element (or null) must be returned. You may have returned u

[2017-03-31 16:35] incorrectusername commented on #145
What I'm doing wrong here? CC @negomi

[2017-04-04 09:10] aefanov commented on #144
activeClassName="active"

[2017-04-06 14:57] ansmonjol commented on #141
+1

[2017-04-07 12:01] jackey opened #146 "There's any exported API that allow custom toggle menu outside of buggerMenu ?"
Can i put the toggle menu any place and bind click event handler to open the bugger menu ?

[2017-04-07 12:02] jackey commented on #146
with isOpen prop can do that job.

[2017-04-07 12:02] #146 closed

[2017-04-07 17:52] Axelest commented on #100
Hey negomi, how do you actually stop the window from scrolling when the menu is active?

[2017-04-10 07:09] #144 closed

[2017-04-11 13:14] anna-kartynnik opened #147 "React 15.5.0 warnings"
After updating react to 15.5.0 I can see the following warnings in the browser console

    Warning: Accessing PropTypes via the main React package is deprecated.
    Use the prop-types package from npm instead.

    printWarning	    @ warning.js:36
    warning	            @ warning.js:60
    get                 @ React.js:95
    (anonymous)	    @ style.js:93
    (anonymous)	    @ index.js:15

[2017-04-14 18:18] marshall86 opened #148 "React es6 burger-menu animation"
Hi thanks for your repo, it was what I was looking for! I have a problem, I'm still a newbie with React..
This is my menu.js file:

[code]

I would change the default animation to "bubble" and I would like to make the RadiumLink works.
For example my about.js file is :

import React from 'react'

[code]

Unfortunately the routing doesn't works, if I click on About or one of the other links nothing

[2017-04-15 22:23] #139 closed

[2017-04-15 22:26] negomi commented on #133
Fixed in v1.12.0

[2017-04-15 22:26] #133 closed

[2017-04-15 22:28] negomi commented on #143
Glad you got it working - it sounds like your `npm install` didn't succeed the first time.

[2017-04-15 22:28] #143 closed

[2017-04-15 22:32] negomi commented on #141
I believe this should be fixed in v1.12.0 - please let me know if the issue still exists!

[2017-04-15 22:32] #141 closed

[2017-04-15 22:37] negomi commented on #134
Hi @ShailajaV, I would need a bit more information to tell what's wrong:
* Are you running react-burger-menu locally or including it in a project?
* What version are you using?
* Where are you seeing this error, and is there any other output?

[2017-04-15 22:41] negomi commented on #136
Hi @Ssabin-devalore, this is the expected behaviour. If the overlay is still visible, any click on the overlay will 'toggle' the menu. So if it's closing, you need to wait for the animation to finish, or a second click will toggle it open again.

If you need to be able to double click outside the menu without triggering the toggle event, you could consider using the `noOverlay` prop to disable the

[2017-04-15 22:41] #136 closed

[2017-04-15 22:51] negomi commented on #147
Hey, thanks for reporting!

Although react-burger-menu has now removed its own references to `React.PropTypes` and `React.createClass`, a dependency on Radium is unfortunately still causing these warnings to show.

They have an issue open (https://github.com/FormidableLabs/radium/issues/895) but to continue supporting React 0.14.x, we're also currently locked to Radium 0.18.1 (see https://github.c

[2017-04-15 23:12] negomi commented on #137
Hi @k1ng87,

It looks like one of your containing elements is limiting the width of your content and forcing the menu in with it (likely the `max-width: 850px;` on `#app`.

Try removing these styles from `#app`:
[code]

And adding them to a wrapper element around your content instead like:
[code]

Also make sure `container-fluid` isn't adding anything weird - you might want to move this to your co

[2017-04-15 23:12] #137 closed

[2017-04-16 02:10] negomi commented on #147
Fixed in v2.0.0 (removed Radium dependency 🎉 )

[2017-04-16 02:10] #147 closed

[2017-04-16 02:16] negomi commented on #145
Hi @incorrectusername, sorry for the delayed response! Did you ever get this working?

There have been a couple of cases of react-router not working. I have just released v2.0.0, which removes the need to wrap `Link` in Radium.

Could you try upgrading and see if the problem still exists?

[2017-04-16 02:18] negomi commented on #148
Hi @marshall86,

There have been a couple of cases of react-router not working. I have just released v2.0.0, which removes the need to wrap Link in Radium.

Could you try upgrading and see if the problem still exists?

[2017-04-17 11:48] marianaMarshaL opened #149 "Unable to resolve module `react-dom`"
Hi,

When i try to install react burger menu using "npm install --save react-burger-menu" and try to running the project, i got this error:

error: bundling: UnableToResolveError: Unable to resolve module `react-dom` from `/Users/nana/Project/digital_onboarding/photon_digital_onboarding_widget/node_modules/react-burger-menu/lib/menuFactory.js`: Module does not exist in the module map or in these d

[2017-04-17 11:54] marianaMarshaL commented on #149
I have tried the three steps and the issued still happened

[2017-04-17 14:49] negomi commented on #149
Have you installed the `react-dom` package?

[2017-04-18 04:54] EmmanuelSkapple opened #150 "How I can implement exactly the Open state?"
Hi first, Thanks for you repo :D is so nice. I can't implement the Open state or rather I do not know, is confusing for me :D,
I've been trying for 3 hours without results.

You cant help me?

Pliss I a noob XD.

this is my class:

![image](https://cloud.githubusercontent.com/assets/17431888/25115093/305068b4-23c9-11e7-98d6-d3bb01ec8ad4.png)

[2017-04-18 08:40] marshall86 commented on #148
Thanks for your support but unfortunately I am not enable to make the routing works yet

This is my code:

[export default class List extends Component {
    constructor(props, context){
        super(props, context);
        this.state       = { isOpen: false };
        this.handleClick = this.handleClick.bind(this);
    }
    componentDidMount() {}
    componentWillUnmount() {}
    handleClick(e

[2017-04-18 11:10] marshall86 commented on #148
My fault, sorry, I found the problem, this is the right code:

[code]

I made a mistake in my Router configuration. Thanks a lot

[2017-04-18 16:25] burakuluu commented on #143
Yes, I run **npm install** before those commands but it didn't work as I couldn't understand why.

[2017-04-18 21:41] EmmanuelSkapple commented on #150
sorry for mi english XD

[2017-04-19 03:21] marianaMarshaL commented on #149
yes i did? did the react-burger-menu only working on specific react native version?

[2017-04-19 03:49] negomi commented on #149
Ahh, are you trying to use this with React Native? This isn't for React Native, just web projects at the moment. That would be why the `react-dom` package isn't loading :)

[2017-04-19 03:53] negomi commented on #150
Hi @EmmanuelSkapple, sorry you're having trouble :)

In the most basic case, the menu handles its own open state, so you don't need to do anything. Have you added styles yet? If not, you won't see the burger icon to click on (and therefore won't be able to open the menu). See https://github.com/negomi/react-burger-menu#styling for the example styles to get you started.

Please let me know if you'r

[2017-04-19 04:04] marianaMarshaL commented on #149
is there any way to implement this with react native?

[2017-04-19 05:43] negomi commented on #149
Not currently, I'm afraid. It looks like there are a few similar projects for React Native though:
* https://github.com/ilansas/react-native-navigation-drawer
* https://github.com/root-two/react-native-drawer
* https://github.com/react-native-community/react-native-side-menu
Best of luck!

[2017-04-19 05:43] #149 closed

[2017-04-19 05:44] marianaMarshaL commented on #149
thanks for your help :)

[2017-04-19 06:46] negomi commented on #148
Glad you got it working 👍

[2017-04-19 06:46] #148 closed

[2017-04-19 10:18] ophite opened #151 "Works not smoothly when do a lot of updates on the page (on other parts of page)"

[2017-04-19 13:35] andrewmclagan opened #152 "large dependancy snapsvg"
Currently webpack-analyzer throws up `snapsvg-cjs` as being a very large dependancy

245 KiB

Are there any alternatives to this? as this seems excessive.

[2017-04-19 14:34] EmmanuelSkapple commented on #150
Hi negomi,
thanks for answering, yes in fact I have the styles
![image](https://cloud.githubusercontent.com/assets/17431888/25185294/95d3f498-24e2-11e7-88a8-e57d0ac41972.png)
but, When I press an item Is not hidden the menu, this is my problem XD, I do not know how to do it I read the state change section but I do not know how to implement it jejeje 😃

[2017-04-21 08:09] andrewmclagan commented on #29
Can you possibly link in the new issue, thanks!

[2017-04-21 08:41] matejstrasek commented on #29
@andrewmclagan #40

[2017-04-22 17:01] negomi commented on #150
Ah ok. So you would need to do something like this:
[code]

[2017-04-22 19:04] mmarovich opened #153 "Page wraps not working"
In order to do this I did create-react-app, and implemented a side bar component, and then in the app.js I passed in the proper props, along with the proper id tags.

Here is my code for the Sidebar:
[code]
and here is my code for the app:
[code]

[2017-04-22 21:22] negomi commented on #153
Hi @mmarovich, you're passing those props to your `Sidebar` component, but not through to the `Menu` component, which `Sidebar` renders.

In the `render` method of your `Sidebar` component, you need either pass each prop individually to `Menu`, or you can use the spread operator shorthand to pass all of them:

[code]

[2017-04-23 00:13] mmarovich commented on #153
Okay! That works!  : )  I don't know how that could be made clearer on the cods.   <Menu /> implies that it's outside of the Menu component, rather than <Menu></Menu>.  Either way though, it totally works now.  There are a couple of other things that I'm not sure you'd be interested in.

Using the exact same code, if you do "bubble" there is a glitch where the scroll bar is in the middle of the me

[2017-04-23 03:32] negomi commented on #153
Awesome!

`<Menu />` and `<Menu></Menu>` are the same thing; the former is just written in self-closing component form (see https://facebook.github.io/react/docs/jsx-in-depth.html for another example/explanation of that).

With the scrollbar problem, it's hard to say exactly what's going on without seeing it, but I would start by identifying which element has the scrollbar. Then you can modify its

[2017-04-23 03:32] #153 closed

[2017-04-23 13:44] EmmanuelSkapple commented on #150
Wow it is, thanks so much 😄

[2017-04-23 17:25] #150 closed

[2017-04-26 08:53] danielo515 opened #154 "How to make the sidebar permanent"
Hello,

I was wondering if there is a way to allow the sidebar to be permanent on wide screens.

Regards

[2017-04-27 02:49] negomi commented on #154
Hi @danielo515, not officially, but it's possible to do with a combination of the `isOpen` and `noOverlay` props (see https://github.com/negomi/react-burger-menu/issues/39#issuecomment-263148475)

That issue has been open for a while now, and I may implement it as a feature at some point, just haven't had the time yet :)

Hope that helps!

[2017-04-27 02:49] #154 closed

[2017-04-27 12:33] AMNeves opened #155 "cant remove or change bm-overlay style"
I am trying to remove the default grey overlay, but cant manage to change it, i added css passed styles but nothing changes, where does it store the overlay style?

[2017-04-27 12:45] AMNeves commented on #155
Well i fixed it with the handy noOverlay option, but its still weird i cant change it, im using meteor with react newest versions

[2017-04-28 04:53] negomi commented on #155
Hi @AMNeves, as the overlay styles are passed inline by the component, you will need to use `!important` if you want to change the overlay styles using CSS.

For example:
[code]

[2017-04-28 04:53] #155 closed

[2017-04-28 05:03] negomi commented on #151
Hi @ophite, sorry it's not working smoothly for you, but I would need some more information to determine if this is an issue with this component.

I'm curious what other updates you're doing at the same time the menu is opening/closing (I'm assuming you mean the animation isn't smooth), and whether they need to happen at that time? The animations are just CSS transitions, so aside from waiting for

[2017-04-28 05:03] #151 closed

[2017-04-28 05:08] negomi commented on #152
Hi @andrewmclagan, yep, I'm aware of this issue :/

Aside from replacing the Snap.svg dependency with another library, I don't currently know of a way to avoid this, and I'm afraid I don't have much time to work on it at the moment.

I'd accept a PR if anyone else has any suggestions.

[2017-04-28 06:49] andrewmclagan commented on #152
Cool, i will take a look when i have the time

[2017-04-29 05:12] andrewmclagan commented on #152
@negomi Before I write up a PR can you give me a brief overview of what snap-svg is used for? Sorry, we roll our own buttons controlled by redux state. I'm assuming its used for the burger-menu buttons?

[2017-04-29 05:24] andrewmclagan commented on #152
@negomi

Actually I just did a brief investigation into the codebase and I realised that only a few menus actually use snap-svg.

You also correctly export the full path structure of the library.

There for those rollup/webpack users can cherry pick the menu they need without importing those they dont.

e.g.

[code]

For us this saved 80Kb even after GZip ... thats impressive.

Perhaps this should

[2017-04-29 06:24] negomi commented on #152
Oh sure, if you're not actually using one of the menus with SVG animation then that will work fine :)

I'll add it to the docs. Hopefully that will be enough to solve this issue for most people (definitely easier than finding a new SVG library) - I think the SVG-animated menus are the less popular ones anyway.

[2017-04-29 07:47] andrewmclagan commented on #152
Awesome, its a pretty nice thing to doc.

Not all packages export in this manner, its great.

There is a big push over at ImmutableJS to do that just now:

https://github.com/facebook/immutable-js/issues/1190

[2017-04-29 07:47] #152 closed

[2017-04-30 06:27] mouli-preddy opened #156 "Ability to give width of menu as %."
Ability to give width of menu as %. This requires the width to accept String inputs along with int.
Already tried it and except for a warning, this works perfectly. So ideally should not be a problem in implementing it.

**UseCase:** I need a menu that covers 50% of the screen and readjusts child elements as per screen dimensions. Thus cannot use static int values.

[2017-04-30 20:32] negomi commented on #156
Good idea - added in v2.0.1 :)

[2017-04-30 20:32] #156 closed

[2017-05-02 21:33] ophite commented on #151
Thanx for reply, i think u are right - need to wait finish updates and then do animation

[2017-05-04 04:09] mmarovich opened #157 "Material UI debugging"
Here is my repo for problems described below: https://github.com/mmarovich/trapped

I am currently learning how to use Material UI, so I have integrated a simple Appbar component into my project.  I have injected the react-burger-menu into the Appbar component using the iconElementLeft prop.
[code]
This works, Buuuuuuuuuut... : )
Some quirky behaviors happen:

1) The outer wrapper doesn't seem to

[2017-05-04 16:29] mmarovich commented on #157
Okay, so.  I have realized the error of my ways, haha.

The whole reason I did it this way was because if I put the Sidebar where it's normally supposed to go:
[code]
If I do this, then the menu will be underneath the material-ui header.  This is because the MUI AppBar, by default, has a z-index of 1100.  I needed to go in and set it to 0.  After that, everything works as normal.

[2017-05-05 03:15] negomi commented on #157
Aha! Glad you figured it out :)

[2017-05-05 03:15] #157 closed

[2017-05-05 03:19] negomi commented on #145
Going to close this out as no response - ping me if this is still an issue :)

[2017-05-05 03:19] #145 closed

[2017-05-05 03:24] negomi commented on #134
Going to close for now as no response - this also looks like an error due to Radium, which was removed in v2.0.0. Feel free to file another issue if you're still having problems :)

[2017-05-05 03:24] #134 closed

[2017-05-22 08:53] trollboy commented on #39
in the interim, passing in
`<Menu styles={ styles } className={ "hidden-lg-up" } >`
 doesn't seem to work. Using bootstrap and react-strap. That bootstrap class should hide all objects unless on tablet or smaller. All it accomplishes is making the menu items themselves disappear.  The hamburger button is still there. I was hoping that would be a nice work around, but alas.

[react-strap] (https://

[2017-05-23 13:29] maxrosecollins opened #159 "Toggle menu with burger icon"
How can I attach an event to the burger icon so I can toggle the menu with it?

[2017-05-24 01:24] negomi commented on #39
If you want to hide the burger icon for smaller screens, you could apply a similar hack using the `customBurgerIcon` prop: https://github.com/negomi/react-burger-menu#custom-icons

[2017-05-24 01:30] negomi commented on #159
Hey @maxrosecollins, what's your use case? By default, the component is designed to handle all its toggling internally, so you shouldn't need to attach any events just to make it work.

If you're trying to do something more complex, feel free to go into more detail and I'll see if I can help :)

[2017-05-24 06:52] trollboy commented on #39
Thanks for the response! I considered that, but I was trying to avoid doing responsive checking programatically preferring to opt for media queries and css.  Thanks, I'll play with this!

[2017-05-24 09:46] maxrosecollins commented on #159
I wanted to hide the CrossIcon and use the burger icon to open and close the menu.

[2017-05-25 03:45] negomi commented on #159
The burger will do both. If you position it so it's visible when the menu is open (and hide the overlay with the `noOverlay` prop), then it will work. This is the demo page modified to demonstrate:

![may 24 2017 8-35 pm](https://cloud.githubusercontent.com/assets/3727684/26435095/a46df4ae-40c1-11e7-96d2-a49349b45d33.gif)
Is that what you mean?

[2017-05-26 09:54] maxrosecollins commented on #159
Hmmmm very strange, it's working now.

Another question, is it possible to move the burger icon into the `page-wrap` div, so it moves with it?

[2017-05-27 06:09] negomi commented on #159
Not directly, though you have a few options for ways to achieve that:
1. Reposition the burger icon on open/close via styling. For that, you would have to keep track of the menu state externally. It would look something like this:
[code]

2. Hide the default burger icon, and create your own burger icon component to control the menu state; this way you can place it wherever you want. The code above

[2017-05-27 06:09] #159 closed

[2017-06-02 06:18] nanoRoot opened #161 "The menu opens / closes when I click anywhere on the page"
I can't seem to figure out how to prevent the menu from opening when I click anywhere in the window. I'm still new to react and I'm currently building my first SPA so I may be missing something obvious but I want the page to behave similar to your demo site [http://negomi.github.io/react-burger-menu/](url). I want to link the `isOpen={ toggleMenu }` to a custom button with an onClick and have that

[2017-06-02 22:10] ironng opened #162 "Missing svg assets from snapsvg"
Trying to use `react-burger-menu` with django leads to the following error when the backend is trying to collect all static assets:

`ValueError: The file '/node_modules/react-burger-menu/node_modules/snapsvg-cjs/node_modules/snapsvg/doc/img/search.svg' could not be found`

This might be an issue with the `snapsvg` package itself - I noticed that when you run `npm install` the `snapsvg/doc/img` do

[2017-06-03 02:09] LuisSaybe commented on #161
Same is happening for me

[2017-06-03 06:29] negomi commented on #161
Have you applied any styles?

It sounds like the burger icon is there, but invisible, and taking up the entire screen because you haven't given it a size/background color yet.

Check out the docs on styling: https://github.com/negomi/react-burger-menu/blob/master/README.md#styling

You probably want to inspect the HTML in the console to see what elements are being rendered - this should help you d

[2017-06-03 06:32] LuisSaybe commented on #161
Ah yep, that's the issue, thanks for the quick response. forgot to `rtfm`

[2017-06-03 20:08] #161 closed

[2017-06-03 20:35] negomi commented on #162
Hey @ironng, I'm afraid I'm not very familiar with Django or its asset handling. It seems like that image is only required by Snap.svg's docs CSS, in which case it seems strange that it's being loaded at all when importing the package. I've not run across this problem before with any Node.js-based builds. Let me know if they have any useful advice!

[2017-06-08 00:28] nanoRoot commented on #161
Hello again,  I removed all of my styling and was able to inspect to see the button was applied to the entire screen.  Thanks for all your help!!

[2017-06-09 18:12] mattnedrich commented on #65
@viveke me too

[2017-06-11 20:53] daveRanjan opened #164 "Cannot Apply style to the Menu"
I am not able to apply stylesheet to the menu, looks like some css styles are missing from what is shown in the example.

import slide from 'react-burger-menu';
import React from "react";
import '../style/SideMenu.css';

class SideMenu extends React.Component {
    render() {
        return (
            <slide>
                <a id="home" className="menu-item" href="/">Home</a>
                <

[2017-06-12 05:04] negomi commented on #164
Hi @daveRanjan, from this snippet, it looks like you've imported the menu, but are not actually including it in the code yet.

Check out the code at the top of the usage section for an example of how to use it: https://github.com/negomi/react-burger-menu#usage

[2017-06-12 08:54] pesterhazy commented on #150
It also took me a while to wrap my head around this, especially the fact that the component keeps its local state. This could be a great addition to the frontpage readme, as I'm guessing most people will need this eventually?

[2017-06-13 22:06] DeleurApps opened #165 "Burger icon hover"
If the menu component is rendered after the page is already loaded, and the mouse is over the spot where the burger icon will be, the hover state of the icon is inverted. It thinks that when the mouse is initially over the icon that its not hovering, and when the mouse leaves the icon it is hovering.

[2017-06-14 05:47] negomi commented on #165
Hi @DeleurApps, thanks for the issue!

I actually struggled to reproduce this locally - I did just push a change which might've fixed it in v2.1.0 though. If not, let me know and I'll try to recreate it again.

[2017-06-14 16:45] DeleurApps commented on #165
Yep that fixed it!

[2017-06-14 16:45] #165 closed

[2017-06-19 21:00] ironng commented on #162
@negomi Thanks for your response! I've raised an issue with Snap.svg. For now to get our Django environment to work with it we've just created own fork without references to Snap.svg

[2017-06-19 21:00] #162 closed

[2017-06-21 06:08] HankSmith22 commented on #39
This works in initial testing, might be a good start. Menu throws uncaught errors when using push and initialized to open=true. No solution for esc key though.

[code]

scss
[code]

[2017-06-21 13:52] RobertoIDL commented on #66
Same here

[2017-06-22 02:59] negomi commented on #66
Hi @RobertoIDL, can you paste your code?

[2017-06-23 13:19] lapcchan opened #166 "error with react v15"
React.createElement: type is invalid -- expected a string (for built-in components) or a class/function (for composite components) but got: undefined. You likely forgot to export your component from the file it's defined in.

[code]

[2017-06-23 13:31] lapcchan commented on #166
sorry typo lol

[2017-06-23 13:31] #166 closed

[2017-06-26 08:46] radziksh commented on #65
@nahushf @negomi @mattnedrich @viveke Can you test this? I wrote a definition for this environment https://github.com/wmonk/create-react-app-typescript
Standard es6 modules supported by webpack.

[2017-06-27 04:32] negomi commented on #65
Thanks so much @radziksh!

I don't use TypeScript myself, so I would love to get some other people's opinion on this :)

[2017-06-27 20:17] lightninglu10 opened #167 "Open from top?"
So the react burger can open from the left and right, but can it also open from the top?

[2017-06-29 08:29] aleablu opened #169 "Burger Button problems"
Hi,

I'm trying to use this awesome menu in my electron+react application, animations are working fine, but I can't get the burger button to work, the bars aren't visible and it extends to the whole body of the application, all the screen is a big invisible burger button!

`import React from 'react';
import {Link,Route} from 'react-router-dom'
import {push as BurgerMenu} from 'react-burger-menu'
i

[2017-06-30 11:58] darkship commented on #169
Hi,
<code>style={styles}</code> should be <code>styles={styles}</code>

[2017-06-30 18:16] negomi commented on #169
Hi @aleablu, yep, @darkship got there before me ^

Feel free to reopen if you're still having issues :)

[2017-06-30 18:16] #169 closed

[2017-06-30 18:20] negomi commented on #167
Hey @lightninglu10, not currently. It would be possible, but would involve adding a new animation.

I'll leave this here as an enhancement request for now. PRs would be welcome :)

[2017-07-02 14:04] gautier-lefebvre opened #170 "Warning: Invalid argument supplied to oneOfType, expected an instance of array."
There is a warning in the console when importing your package:
`Warning: Invalid argument supplied to oneOfType, expected an instance of array.`

It comes from this line (line 256 of menuFactory.js) ->
[code]
I don't know what is the actual PropType you wanted to set, but I guess this fix would be enough
[code]

[2017-07-02 16:16] negomi commented on #170
Ugh, yeah, not sure what happened there...

Fixed in https://github.com/negomi/react-burger-menu/commit/deb6252e7ce82761e34be52017bb3b9cf282c35e

Thanks for reporting, @gautier-lefebvre! 👍

[2017-07-02 16:16] #170 closed

[2017-07-05 07:59] ssageghi opened #171 "item on Hover"
hi
how can I change onHover style of items
thanks

[2017-07-05 08:11] Shadowman4205 commented on #52
@negomi
I am getting same error

I am using react isomorphic app. I have "react-burger-menu": "^1.10.14", any solution?

[2017-07-05 08:20] Shadowman4205 commented on #52
@negomi ok installed last version and its working

[2017-07-05 19:42] jbschrades opened #172 "bodyClassName not applying"
Looks like this feature is dependent upon a pageWrap or outerContainer being defined.  But should it be?

[code]
But I even tried adding an outContainer prop and style and couldn't get it to work.  Am I missing something obvious?

[2017-07-07 06:48] negomi commented on #171
Hi @ssageghi, do you mean the items you pass to the menu?

They're just components, so you can apply CSS or inline styles to them as you would any other component.

Feel free to elaborate if I'm not understanding correctly :)

[2017-07-07 06:50] negomi commented on #172
This was a bug - `bodyClassName` should now work for any menu. Thanks for reporting! 🎉

[2017-07-07 06:50] #172 closed

[2017-07-07 06:50] #164 closed

[2017-07-08 05:12] ssageghi commented on #171
I mean menu item that a menu have

[2017-07-08 19:42] negomi commented on #171
Does the above answer your question?

[2017-07-09 06:03] ssageghi commented on #171
No
`var styles = {
  bmBurgerButton: {
    position: 'fixed',
    width: '36px',
    height: '30px',
    left: '36px',
    top: '36px'
  },
  bmBurgerBars: {
    background: '#373a47'
  },
  bmCrossButton: {
    height: '24px',
    width: '24px'
  },
  bmCross: {
    background: '#bdc3c7'
  },
  bmMenu: {
    background: '#373a47',
    padding: '2.5em 1.5em 0',
    fontSize: '1.15em'
  },
  bmMorp

[2017-07-09 19:29] negomi commented on #171
Ah, you mean for the buttons/icons.

There isn't an easy way using inline styles like this - you would have to use a [custom icon](https://github.com/negomi/react-burger-menu#custom-icons). Then you would either:
1. detect and store the hover state of the icon using `onMouseOver` and `onMouseOut` and pass different `styles` objects depending on the hover state
2. wrap your custom icon with [Radium

[2017-07-09 19:29] #171 closed

[2017-07-10 13:21] TechSnake opened #173 "where is the burger icon ?"
Hello there thanks for this useful component .
I used these code but there is no hamburger icon .It behaves the whole page is a button !

[code]

Thanks in Advance

[2017-07-10 13:35] TechSnake commented on #173
#161 Here is the answer

[2017-07-10 13:35] #173 closed

[2017-07-10 18:14] Mael-P commented on #95
To have Font Awesome icon, do this:
<Menu burgerButtonClassName={ "fa fa-user-circle fa-2x" } customBurgerIcon={ <img src="" /> }>
It work even for CrossButton.

[2017-07-11 08:06] littlee opened #174 "minimal demo code ?"
Can you provide a minimal demo code?

the example demo code is a little hard to understand for me
my menu icon never shows, should I import a css file ?

thanks

[2017-07-12 04:01] negomi commented on #174
Hi @littlee, yep, if you look at the [styling section](https://github.com/negomi/react-burger-menu#styling), it explains:

So yes, you just need to import a CSS file or use JS inline styles. Good luck!

[2017-07-12 04:01] #174 closed

[2017-07-12 14:22] alveshelio opened #175 "How to modify base styles?"
Hi,

First of all, congratulations on the great component you've created, great work.

I'd like to know if it is possible to modify the base styles, right now there are a lot of inline styles and I was wondering if there would be a way to overwrite them.

For example, I'd like to modify the display from fixed to absolute, change the height of the menu wrapper, etc.

Thanks.

[2017-07-12 19:12] negomi commented on #175
Hi @alveshelio, glad you like the component!

When you say base styles, I'm assuming you mean the ones not mentioned in the [styling section of the docs](https://github.com/negomi/react-burger-menu#styling).

Some of the inline styles (heights, positioning etc.) are necessary to make the animations work properly, so changing them could have unexpected results, which is why it's not officially expo

[2017-07-13 03:35] iMerica opened #176 "IDs not found when using this.props.children"
Hi,

Thanks for building this! Just want to to report this bug when embedded this using children. For example, this works fine:

[code]
but this results in some errors on the console:

[code]

![screen shot 2017-07-12 at 8 28 56 pm](https://user-images.githubusercontent.com/487897/28149275-3a604840-6741-11e7-8cc4-cee6f3bdfb02.png)

I'm guessing this is because of the order of which components are

[2017-07-14 16:52] ghost opened #177 "Improving accessibility"
I'm trying to make sure I implement an accessible menu using react-burger-menu and have run into a few issues with keyboard navigation.  I'm wondering if others have found solutions to these:
1. tabbing focus should transfer from button that toggles the menu to the menu itself when opened and vis-a-versa when closed
    - currently wrapping the react-burger-menu in a div with tabIndex=-1 and an id

[2017-07-14 22:55] dustwise opened #178 "Opening the menu pops the wrapper page back to the top?"
I am building a tool that utilizes react-burger-menu but needs to maintain the scrolling point of the wrapped page when the menu is opened. Currently and apparently by default (please correct me if I'm wrong!) when opening the burger menu, the wrapped page instantly jumps back up to the top of the page as opposed to where the use had scrolled down to.

Any advice? Thank you!

[2017-07-15 23:01] dustwise commented on #178
Update: I have found that the issue arises when using an animation that requires "pageWrapId" & "outerContainerId". If I remove these and use a basic animation, such as Slide, I'm able to maintain y position and also scroll up and down on the page while the menu is open.

Is this is a limit to wrapping the page? Thanks!

[2017-07-16 00:17] #178 closed

[2017-07-17 17:12] jianpingw opened #179 "Warning: a `span` tag (owner: `HamburgerMenu`) was passed a numeric string value for CSS property `marginTop` (value: `-1`) which will be treated as a unitless number in a future version of React."
I use React 15.6.1 and got the following warning:

Warning: a `span` tag (owner: `HamburgerMenu`) was passed a numeric string value for CSS property `marginTop` (value: `-1`) which will be treated as a unitless number in a future version of React.

It looks like the following line causes the warning:

`halfStrokeWidth = '-' + strokeWidth / 2,`

[2017-07-18 04:33] prajapati-parth opened #180 "[Ehancement] Adding "reveal" animation"
Please add a reveal animation to the current library just like [here](https://tympanus.net/Development/SidebarTransitions/) to the existing set of animations.
I know reveal is a little similar to push animation but having reveal would be really great :+1:

Thanks for the awesome library. :+1:

[2017-07-18 11:11] dagi12 commented on #39
My way to workaround esc key for responsive menu

import {slide as BurgerMenu} from 'react-burger-menu';

[code]

[2017-07-24 13:18] followyong opened #181 "sidebar的点击控件在哪"
怎么样才能控制点击的位置和被点击的对象，点击整个页面的任何地方侧边栏都会弹出来

[2017-07-25 06:02] jeffry0926 commented on #181
I like the same question, want to know the top of the customBurgerIcon click event location

[2017-07-28 09:36] 440459012 opened #182 "get menu state"
i wolud like to get menu state if it's opened or closed, i use my custom button for open/close the menu, because of button position in DOM , how can i get this info?

[2017-07-28 11:30] 440459012 commented on #182
sorry, don't see what you have onStateChange prop

[2017-07-28 11:30] #182 closed

[2017-07-29 13:56] a-pandey commented on #107
Page blinks like normal website do in firefox.

This video will explain.
https://youtu.be/FFq9u7QlXYk

[2017-07-30 10:41] yaolei opened #183 "How to use it ?"
I just use the  demo code
[code]
on my home page
[code]
get the error
``` Uncaught Error: Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: undefined. You likely forgot to export your component from the file it's defined in. Check the render method of TopMenu.```

[2017-08-02 21:22] calvinwyoung opened #184 "Prevent menu close when clicking on overlay"
Is there a way to prevent the burger menu from closing when clicking on the overlay?

I have a sidebar with a few dropdown menu components. If a dropdown menu is open, and a user clicks on the menu's background overlay, the current behavior is to close the dropdown menu *and* the sidebar. Instead, I'd love if *only* the dropdown menu closed (with the sidebar menu remaining open). If the user click

[2017-08-06 06:32] ssageghi opened #185 "Feature needed"
Hi
can you add a feature to add Menu title under icon?

[2017-08-06 18:25] AlvaroFalcon commented on #183
did you imported the library?
import {bubble as Menu} from 'react-burger-menu' for example.
I had the same issue, it has to be lowercase.

[2017-08-06 18:29] AlvaroFalcon opened #186 "Hamburger button not showing"
Hi, first of all, the component is great.

I only have one problem, when I add the menu to my view, there is no hamburger button, instead i can click in the middle of the window and get the menu opened.

[code]

[2017-08-07 22:57] JamesTheHacker commented on #183
@yaolei I fear you may have done exactly what I just did. The README says to use the following:

    import { nameOfAnimation as Menu } from 'react-burger-menu'

Im my case I copied and pasted the example to see it working before I implement it into my application. I didn't change `nameOfAnimation` and left it as is ... which produces the error you're facing.

@AlvaroFalcon answer is correct 💃

[2017-08-09 15:05] vikram7 commented on #186
Check out the styling section in the docs.

Basically, you need to give some css to `.bm-burger-button`:

[code]

You'll see a blue square on your page and can adjust your css to place your button where you want it.

[2017-08-10 17:50] charlieroth opened #188 "Uncaught TypeError: Cannot read property 'style' of undefined"
So I am getting this error in the console when I am trying to render my <Menu /> component.

Here is the error I get in the console:
![image](https://user-images.githubusercontent.com/13981427/29183901-51078d4a-7dd2-11e7-9fa4-54ff43166f59.png)

and here is my code:
[code]

I don't really understand what is wrong with what I am giving the Menu as children. It was working 5 min before and then sudde

[2017-08-10 18:01] #188 closed

[2017-08-23 02:53] kevinguard opened #189 "Burger Menu Not Scrollable"
I am using this amazingly nice and easy to use library and it works just perfectly. One issue that I have, however, is that when the content is large, like a list of items, etc., the content inside the burger menu is not scrollable. Is this an expected behavior? Is there any option I might have missed? Is there anyway we could enable this?

Thanks
Kevin

[2017-08-23 03:07] kevinguard commented on #189
I suspect I found the solution, namely, setting `bmItemList` set to `overlayY` to `scroll`.

[2017-08-23 03:07] #189 closed

[2017-08-23 03:19] kevinguard commented on #28
Seeing the same issue.

[2017-08-24 00:03] dsernst opened #190 "Set cursor: pointer for menu open & close buttons?"
Is there a way to add `cursor: pointer' to the open & close icons? It looks like their styles are hardcoded in.

[2017-08-24 06:34] dsernst commented on #190
It looks like adding `cursor: pointer` to the hardcoded styles for [`BurgerIcon`](https://github.com/negomi/react-burger-menu/blob/master/lib/BurgerIcon.js#L58) and [`CrossIcon`](https://github.com/negomi/react-burger-menu/blob/master/lib/CrossIcon.js#L60) fixes this.

[2017-08-25 19:15] hshelbur commented on #190
Where were you able to do this? I found the BurgerIcon.js in the node modules but I can't seem to get it to work.

[2017-08-25 19:47] dsernst commented on #190
@hselbur: If you're hardcoding it into your existing node_modules dependency, you need to do it to the compiled `lib/` files, not the pre-compiled `src/` ones.

[2017-08-30 03:51] negomi commented on #176
Hey @iMerica, thanks for reporting this.

I'm trying to understand your setup - where are you using `this.props.children`? Do you mean this bug occurs when you pass `Menu` as a child?

If it's easier, you can push a small example of the bug up to a repo and I'll take a look :)

[2017-08-30 03:57] negomi commented on #177
Hi @seansean11eis, great idea! I would love to make this more keyboard-navigation friendly.

For now, you could use [`onStateChange`](https://github.com/negomi/react-burger-menu#state-change) and `setTimeout` to achieve what you describe in point 2.

[2017-08-30 04:21] negomi commented on #179
Hey @jianpingw!

Where is the `halfStrokeWidth = '-' + strokeWidth / 2,` line? I don't think that's coming from this component?

[2017-08-30 04:34] negomi commented on #181
Hey @followyong, sorry for my Chinese skills :)

Not sure if you mean:
1. You want to make the sidebar open by clicking anywhere
2. The sidebar is opening when you click anywhere, and this is a problem

Feel free to push a small repo to demonstrate the issue if that helps.

[2017-08-30 04:42] negomi commented on #184
Hey @calvinwyoung, ooh, interesting use case.

I haven't heard anyone request this yet so no, it's not currently possible, but I would be happy to add a prop!

[2017-08-30 04:57] negomi commented on #185
Hey @ssageghi, you can do this with CSS pseudo classes.

For example, this CSS:
[code]
will produce:

![screen shot 2017-08-29 at 9 50 59 pm](https://user-images.githubusercontent.com/3727684/29856011-e8814670-8d04-11e7-8947-47d1597e5002.png)

Does that help?

[2017-08-30 05:01] negomi commented on #186
Thanks @vikram7, beat me to it :)

That's right - it sounds like you need to add styles. Both JS inline styles and CSS are supported. See https://github.com/negomi/react-burger-menu#styling for more info.

[2017-08-30 05:01] #186 closed

[2017-08-30 05:06] ssageghi commented on #185
thanks
@negomi and what is lookalike in javascript object

[2017-08-30 05:57] negomi commented on #183
I'm guessing you solved the issue by now. I've just merged https://github.com/negomi/react-burger-menu/pull/187 (thanks @JamesTheHacker!) so hopefully others will avoid running into this in future :)

[2017-08-30 05:57] #183 closed

[2017-08-30 05:59] negomi commented on #184
Added in 2.1.5 - see the new `disableOverlayClick` prop: https://github.com/negomi/react-burger-menu#overlay

[2017-08-30 05:59] #184 closed

[2017-08-30 06:02] negomi commented on #190
There was previously no way to do this without CSS.

I actually just made `cursor: pointer` the default in 2.1.5 (assuming most people will probably want this), so no need to edit the source files directly anymore :)

[2017-08-30 06:02] #190 closed

[2017-08-30 06:26] negomi commented on #185
You can't do it with a plain JS object currently.

If you're not using any CSS otherwise, the simplest thing to do would be to add a style tag above the component:
[code]

If you don't want to do this, another option would be to pass a custom icon image: https://github.com/negomi/react-burger-menu#custom-icons

[2017-08-30 06:26] #185 closed

[2017-08-30 12:27] dbrrt opened #191 "Menu is opened while clicking on "not-controlled" elements"
I'm having issue with Burger Side panel, which is opening when I'm clicking in random parts of my app. Is that possible to control opening with just a state and disabling the default behavior ?

[2017-08-30 12:51] dbrrt commented on #191
This was because of z-index property of `bm-burger-button`

Fixed by putting an high z-index value on it and hidding it :
    `.bm-burger-button {
      z-index: 15000;
      display:none;
   }`

[2017-08-30 13:06] #191 closed

[2017-08-30 20:58] negomi commented on #181
A friend helped me to translate, and I believe your problem is that you haven't added styles yet.

Check out https://github.com/negomi/react-burger-menu/wiki/FAQ#i-imported-the-menu-but-the-burger-icon-isnt-showing-and-the-menu-opens-when-i-click-anywhere

Please re-open if you're still having trouble!

[2017-08-30 20:58] #181 closed

[2017-08-31 13:27] dbrrt opened #192 "onClose hook"
Wouldn't it be nice to have an `onClose` so that we could trigger for instance, a Redux action once the sidebar is closed. For now, I'm using states to toggle display of the sidebar, but when I'm closing the menu (e.g : typing esc key), it doesn't change the state `isOpen` and I'd be really more convenient to trigger an action when the menu disapear, to switch the correponding state.

[2017-09-01 00:05] calvinwyoung commented on #184
@negomi This is awesome, thank you!

[2017-09-01 05:14] negomi commented on #192
Hey @dbrrt!

Sounds like you're describing the [`onStateChange`](https://github.com/negomi/react-burger-menu#state-change) prop. Would that do what you want?

Let me know :)

[2017-09-01 12:46] dbrrt commented on #192
@negomi I missing `onStateChange` in the documentation, it does the job, thanks !
For those who could be interested,
In my view, I trigger the display of the sidebar with a Redux action :
[code]
And I used `onStateChange` prop to update the state with another action :
[code]
It works like a charm :thumbsup:

[2017-09-02 17:24] negomi commented on #192
Awesome 🎉

[2017-09-02 17:24] #192 closed

[2017-09-03 20:13] 0aps commented on #39
I have a similar use case where this enhancement will be useful. I'm using the workarounds in the issue but would be nice to get it into the core.

[2017-09-06 18:02] costagolub commented on #180
#193 pull request reveal animation

[2017-09-06 21:00] briankuyath opened #194 "Best practice for hiding menu programmatically?"
First, great component! Question: I'm implementing a non-conventional way of hiding the menu whereby if the user taps on a Table of Contents element in within the burger menu overlay, the menu hides. I'm able to successfully make this happen with the following lines of code:

[code]
I'm newer to React conventions, so I'm not sure using Javascript like this is a best practice, or if there might be

[2017-09-07 04:55] prajapati-parth commented on #180
@costagolub Perfect :ok_hand:

[2017-09-07 07:13] negomi commented on #194
Hey @briankuyath, thanks, glad you like the component!

The more React-y way to make components do things is to pass down data/instructions via their props (the [`isOpen`](https://github.com/negomi/react-burger-menu#open-state) prop is what you need in this case).

So to close the menu programmatically, you would need to store the menu state somewhere outside the component (the simplest place woul

[2017-09-07 07:13] #194 closed

[2017-09-07 07:34] #180 closed

[2017-09-07 13:40] pauljeffreys commented on #56
@manosim - I grabbed the latest version of these files and had the same non closing issue, but adding the isOpen={false} fixed it for me so not clicking on a menu item closes the menu again. Going by what is mentioned previously, it sounds like the bug doing this was fixed and you might have an older file version of things?

I grabbed mine yesterday.

[2017-09-07 14:38] misterbl opened #195 "The menu scrolls horizontally which makes the list items disappear"
I have an issue with the menu, when I scroll horizontally, the menu scrolls and the list item disappear to the left until I scroll back .
Is that a know issue. I try to scroll horizontally in the demo you are providing online and it doesn't allow me to do it so I am not sure If I am using the plugin properly.

This is the menu when the page is loaded:
<img width="210" alt="screen shot 2017-09-07 a

[2017-09-07 15:08] misterbl commented on #195
closing the issue as  I actually managed to solve it with overflow-x: hidden

[2017-09-07 15:08] #195 closed

[2017-09-07 18:52] briankuyath commented on #194
Hey @negomi! Awesome. Thanks so much for the help. Works perfectly.

[2017-09-12 11:57] halboffen opened #196 "Examples not working"
I get the following warnings during install and errors during start:

[code]

[code]

`> npm start`

[code]
Thanks for any hints
Peter

[2017-09-13 05:43] negomi commented on #196
Hi @halboffen,

It looks like one of the dependencies is causing this, when the project is run with Node 8: https://github.com/JedWatson/react-component-gulp-tasks/pull/30

Hopefully they merge that soon, but for now, you might have to use Node 7 to avoid the error.

[2017-09-13 23:00] monsonjeremy opened #197 "Wrapped Page Is Still Scrollable"
Currently with an implementation like the following:
App:
[code]
Menu:
[code]

When the menu is open I am still able to scroll the page-wrap div element.
Since I have a list of items in my menu, and it is scrollable this creates a really weird interaction.

Is there any way to lock the scrolling on the page-wrap item.

[2017-09-19 10:54] Duskfall commented on #67
I have one sidebar with isOpen attribute as a state boolean flag of a parent controller, and when I press escape, it only updates the internal state of the component. Cant we get a callback method when pressing escape?

[2017-09-21 17:43] negomi commented on #67
Sounds like [`onStateChange`](https://github.com/negomi/react-burger-menu#state-change) is what you're looking for?

[2017-09-21 17:55] negomi commented on #197
Not sure if you've already tried this, but setting `overflow: hidden;` on the page wrap element seems to prevent this on the example page.

The overlay also prevents the page from scrolling on the example page, though, so I can only reproduce the scrolling behavior by disabling the overlay (which it doesn't look like you're doing).

If that doesn't help, there might be something more specific to y

[2017-09-21 18:10] monsonjeremy commented on #197
Thanks for the reply @negomi, I ended up finding a workaround by checking the state of the menu and if it is open I set the Document Body style to have ```overflow: hidden```.

This seems like a hacky workaround, but for some reason setting overflow: hidden on the page wrap element wasn't doing it. I have the overlay as well so i'm not sure why.

Here are the relevant files if you want to take a l

[2017-09-25 07:00] Duskfall commented on #67
Yes this would be a workaround and this is how I am doing it now, but I think it should take the isOpen from props not having an isOpen state itself. Thank you anyway!

[2017-10-03 14:25] Shadowman4205 opened #199 "React 16 update"
@negomi Hello about react 16 i get this warning,

will be any update?

[2017-10-08 23:37] gagan0723 opened #200 "[gh-pages]Code for gh-pages branch"
Can we please have the actual code for the gh-pages branch. It seems like the code thats uploaded is the compiled one.

[2017-10-09 00:21] negomi commented on #200
Hi @gagan0723, sure, the non-transpiled version of the code for that page is here: https://github.com/negomi/react-burger-menu/tree/master/example/src

[2017-10-09 00:21] #200 closed

[2017-10-09 02:07] negomi commented on #199
Fixed in v2.1.7 😃

[2017-10-09 02:07] #199 closed

[2017-10-16 09:54] 440459012 commented on #197
same trouble, using push animate, when menu is opened, all htm is scrollable, why did you add only overflow-x:hidden, if there is need full body,html overflow:hidden.

[2017-10-16 15:42] ramageftw opened #202 "Using the 'isOpen' for both a custom icon and closing the menu after a user clicks a link"
Hi there.

I'm having bother using the isOpen prop for both instances stated above. I can only seem to be able to access it whilst using a custom icon. I have set state in the isOpen prop meaning it is not deliberately set to 'false'

my code is below

[code]

any help would be appreciated. thanks

[2017-10-17 08:19] ramageftw commented on #202
Sorry, this can be closed. I just made another method that explicably set isOpen to false and then passed an onClick prop through from the parent nav component to <NavMain>.

Thanks anyway 🙂

[2017-10-17 08:20] #202 closed

[2017-10-25 22:24] calvinwyoung opened #203 "Allow `disableOverlayClick` to be a function that returns a boolean"
Hi there,

First, thanks for maintaining this ridiculously awesome package — it's been a life-saver. Also, thanks for adding the `disableOverlayClick` flag in #184

As an additional enhancement, is it possible to make `disableOverlayClick` accept a function that returns a boolean? Here's the issue I'm running into:

1. Hamburger menu contains some input elements that the user interacts with.
2. I

[2017-10-27 21:50] LA opened #204 "isOpen is interpreted as !isOpen (opposite)"
I was kind of confused as to why my menu was opening by default, but after some investigation, I figured out isOpen is being interpreted as !isOpen somewhere.

Maybe I misread the docs, but I was led to believe that passing `<Menu isOpen={false} />` would mean the menu would not open by default. Then when I pass `isOpen={true}` it renders not open.

It is working though, as of now, by just passing

[2017-10-28 20:50] negomi commented on #203
Hey @calvinwyoung, that makes sense - I'd happily accept a PR! :)

[2017-10-28 20:57] negomi commented on #204
Hey @LA,

I might need a little more information to figure out what's going on.

It sounds like you're describing the correct behavior:
[code]

Are you saying you passed `isOpen={true}` and the menu rendered closed?

If you can paste a bit more of your code (menu and its parent component), I can dig into it a bit more.

[2017-10-29 05:21] calvinwyoung commented on #203
@negomi Sounds great! This seems to do the trick on my local machine:
https://github.com/negomi/react-burger-menu/pull/205

Feel free to let me know if you have any requests re style / formatting / etc. Thanks for taking a look!

[2017-10-30 06:19] #203 closed

[2017-11-03 11:38] wintermute42 commented on #56
I seem to have the same issue, using "react-burger-menu": "^2.1.9" together with "redux-burger-menu": "^0.2.2". Adding isOpen={ false } to the Menu doesn't fix it in my case, I cannot get the Menu to close when the user clicks on an item within. Does anyone else use this solution in combination with  "redux-burger-menu"?

[2017-11-03 18:21] LA commented on #204
@negomi That's exactly what I'm saying.

`<Menu isOpen={true} styles={menuStyles}>`
is rendered with the menu closed which is my desired behavior.

`<Menu isOpen={false} styles={menuStyles}>`
is rendered with the menu open.

I am not sure what else I need to present.

[code]

[2017-11-07 22:03] goldensunliu opened #207 "Elastic is hardcoded to animation the page with a 100px offset"
currently, elastic.js is hardcoded to shift page 100px instead of using the width.

https://github.com/negomi/react-burger-menu/blob/master/src/menus/elastic.js#L34

[2017-11-07 22:04] goldensunliu commented on #207
https://github.com/negomi/react-burger-menu/pull/206

[2017-11-08 04:50] negomi commented on #204
@LA I wasn't able to reproduce this behavior with the component in isolation, which is why I suspected there may be something else going on with your setup.

However, looking back over the burger menu code, I did discover a small bug where the use of `isOpen` was toggling the menu open and closed one time too many, which might also have been a contributing factor.

Would you mind upgrading to the

[2017-11-11 21:53] negomi commented on #207
Hey @goldensunliu! That 100px is actually intentional - the elastic animation is designed to push the page just a little bit, rather than the width of the whole menu (like push, for example).

I think the idea is that just the animated 'curve' part looks like it is pushing the page, and the width of that part is only 100px.

Hope that makes sense!

[2017-11-20 17:32] AutoSponge commented on #177
I also think the base page should not be in tab order while the menu is open. see https://www.youtube.com/watch?v=fGLp_gfMMGU&list=PLNYkxOF6rcICWx0C9LVWWVqvHlYJyqw7g&index=25 for one technique option.

[2017-11-21 15:32] slorenzo opened #208 "Close menu when the user tap on an option."
Hi,

I wanna have the following behavior.

1- The user tap on the hamburger then opens the menu .
2 - The user select an option then closes the menu.

But I'm blocking in the second step.

It is possible?
Thanks!

Sebastian.

[2017-11-21 21:32] marcysutton commented on #177
The problem I have is that the Menu button is buried in the component alongside the menuitems, so I can't easily target the menu contents without also hiding the menu button. Ideally, you could set the `inert` attribute on the menu contents but getting access to it is proving difficult. You'd have the same problem with `display:none`. How would you go about doing that without hiding the entire men

[2017-11-24 06:55] sedubois commented on #196
It seems that react-component-gulp-tasks is not maintained any more. Is there any other way to fix this?

[2017-11-29 20:42] Sorgrum opened #209 "onStateChange callback not firing"
[code]
I'm trying to use onStateChange to keep my `this.state.navopen` updated. I've tried the following:
[code]
[code]
None of them seem to work. It doesn't look to me like the callback is happening at all because my console is showing nothing in it.

[2017-11-29 23:22] barbush opened #210 "Don't set z-index to 1"
You should change the default CSS z-index to higher than 1 so that if I need to set other page elements to z-index 2, I can do so without changing all the z-indexes for the helper classes.

The actual problem is the screen-overlay doesn't cover some of my other page elements, despite correct configuration.

I'm happy to commit a PR for this, let me know!

[2017-12-06 16:38] diegoemerique opened #211 "Space at the end of the className"
I have a snapshot test, that renders like this before:
[code]

And after I updated the "react-burger-menu" package, the snapshot fails, and returns like this:
[code]
* There is an extra space at the end of the string.

Somebody knows how can I can fix it? or maybe if we can fix it adding a trim() to the project.

Thanks,
and sorry if I'm not supposed to ask it here. Or if it is not a problem and I

[2017-12-09 01:09] isuhendro opened #212 "How to integrate with animated hamburger icon"
Hello,

Any suggestion how to integrated with `animated` hamburger icon like https://jonsuh.com/hamburgers/ ?

Thanks!

[2017-12-11 21:10] emeery commented on #28
Hi negomi! How can I hide the vertical scroll, spread the bar a bit by adding some items, how can I hide it try this but it does not work

[code]

[2017-12-27 09:49] MaralS commented on #204
@negomi : do you have a solution for this issue ?
I tried to uninstall and install again react-burger-menu with yarn but it did not work.

[2017-12-27 18:13] LA commented on #204
@negomi @MaralS  Sorry I'm not being helpful, but I've had 0 problems just running !isOpen, so that's what I'm going to continue to do. If I do find some time I'll try to make a new repo.

[2017-12-28 10:49] MaralS commented on #204
@LA @negomi I had to keep the param to true in order to have the menu closed at the rendering.
It's really frustrating. It maybe due to of Gatsby … I'm using this to build my project
Anyone have a problem using React menu burger with Gatsby ?

[2017-12-28 19:21] negomi commented on #212
Hi @isuhendro,

Yes, this should be possible by making the menu a controlled component, hiding the default icons, and triggering open/close from your custom icon.

See https://github.com/negomi/react-burger-menu/wiki/FAQ#i-want-to-control-the-open-state-programmatically-but-i-dont-understand-how-to-use-the-isopen-prop to get an idea of how to implement it.

Hope that helps!

[2017-12-28 19:21] #212 closed

[2017-12-28 19:49] negomi commented on #208
Hi @slorenzo, yes, this is possible using the `isOpen` prop :)

Check out the wiki for an example: https://github.com/negomi/react-burger-menu/wiki/FAQ#i-want-to-control-the-open-state-programmatically-but-i-dont-understand-how-to-use-the-isopen-prop

[2017-12-28 19:49] #208 closed

[2017-12-28 19:58] negomi commented on #209
Hi @Sorgrum, sorry for the late response. Did you get this working?

If not, have you tried passing an anonymous function directly to `onStateChange` (`onStateChange={(state) => console.log(state)}`)?

If that doesn't work, check you're importing the menu correctly (I would expect that to look like `import { slide as MobileNav } from 'react-burger-menu'` in your case).

If that still doesn't work,

[2017-12-28 19:59] #207 closed

[2017-12-28 20:41] negomi commented on #210
Good point, fixed in `2.2.0`!

[2017-12-28 20:41] #210 closed

[2017-12-28 20:42] negomi commented on #211
Hi @diegoemerique, thanks for the issue! This wasn't a problem for general usage but I can see how it might mess up your snapshot tests :)

Fixed in `2.2.0`

[2017-12-28 20:42] #211 closed

[2017-12-28 21:51] diegoemerique commented on #211
Thank you!

[2017-12-29 05:14] negomi commented on #196
That project does seem abandoned, so I've switched to using a fork of it for now.

Fixed in `v2.2.1` - confirmed react-burger-menu now builds/runs locally with the latest stable Node (9.2.1 as of today).

[2017-12-29 05:14] #196 closed

[2017-12-29 05:15] negomi commented on #179
Closing as no response - feel free to let me know if this is still an issue.

[2017-12-29 05:15] #179 closed

[2017-12-29 05:17] negomi commented on #176
Closing as no response - feel free to let me know if this is still an issue.

[2017-12-29 05:17] #176 closed

[2017-12-29 05:18] negomi commented on #175
Closing as no response - feel free to let me know if this is still an issue.

[2017-12-29 05:18] #175 closed

[2017-12-29 05:19] negomi commented on #93
Closing as no further info/reports of this bug - feel free to let me know if this is still an issue.

[2017-12-29 13:52] Sorgrum commented on #209
It's working perfectly now, without any real change on my end. Odd but maybe some issue with my environment. Thanks!

[2018-01-02 05:08] michaelsync opened #214 "Not able to overwrite the inline style of bm-overlay or bm-menu-wrap"
I found no way to overwrite the inline style of bm-overlay or bm-menu-wrap.

I have a page like below.

![image](https://user-images.githubusercontent.com/192911/34474634-c1e60260-efd5-11e7-9400-9fecf698bcba.png)

I put the burger menu in the header which has a fixed width and is located in the center.

[code]

It shows the menu as below even IsOpen property is false.

![image](https://user-images

[2018-01-02 06:26] negomi commented on #214
Hey @michaelsync,

I think most of the problems you're having will be solved by making sure the menu (and any elements directly wrapping it) are *outside* the page wrap element, like this:
[code]
In general, with the elements laid out correctly, you shouldn't need to override the `transform` property at all. However, if you do want to override any inline styles with CSS, you'll need to use `!impor

[2018-01-02 06:26] #214 closed

[2018-01-02 11:07] MaralS commented on #204
@negomi You can clone my project  - https://github.com/MaralS/autocontrole

Thank you in advance !

[2018-01-02 11:27] michaelsync commented on #214
Hi @negomi

Thanks.

I already tried that and it doesn't work. It will show something similar to this.

![image](https://user-images.githubusercontent.com/192911/34482430-1937e05c-f00c-11e7-84cb-f85719598243.png)

[2018-01-02 11:36] michaelsync commented on #214
The solution that I found is that I hide the burger and put the menu right after the outer-container  div. So the overlay menu will be positioned right.

then I created another div looked like the burger button and put it in the header div. On click, I changed the state.

[2018-01-02 17:39] negomi commented on #214
Hmm ok. If you wanted to link me your code somewhere I can run it, I'm happy to take a look at why this is necessary. I think there's probably a simpler way to get around this, but glad you found a solution for now :)

[2018-01-02 17:40] negomi commented on #204
@MaralS thank you! I'll take a look at this later today :)

[2018-01-02 22:21] michaelsync commented on #214
@negomi

Thanks.

I have created a sample for you to replicate the issue.

I am just using almost all default resources from create-react-app (type-script version) and your sample CSS with minor modification.

Please check the sample here https://github.com/michaelsync/js-lab/tree/master/react-burger-align-issue

I am using yarn so you can just do the following steps to run the sample.

- yarn ins

[2018-01-03 06:35] negomi commented on #214
Thanks for this! So there are a few things going on:

1. If you just want the slide animation, you don't actually need the outer container and page wrap divs (they are for the more complex animations), so you can stop passing them as props.

2. The menu cannot be inside an element that has other layout styles, so these on its parent element will all cause it not to work properly:
[code]
If you nee

[2018-01-03 07:31] negomi commented on #204
Hi @MaralS, the issue in your case is layout and styling rather than `isOpen`. Things to be aware of:

1. You have two instances of `Menu` (one in assets/components/header.js and one in assets/components/navigation.js). The one in header.js isn't actually being used anywhere, but you're not passing any styles/props to the other one.
2. Don't set `menuWrap` to 100% width - not sure what you're tryi

[2018-01-03 08:55] MaralS commented on #204
@negomi thanks for the explanation :)
However in the meantime I deleted the navigation.js file, I defined all menu components in header.js.

I pushed my recents modifications on the repo. It still not works :/

[2018-01-03 13:27] TonyHYK opened #215 "Animation is broken on mobile phone"
Hi, I'm noticing that the css transition for the animation when opening the burger menu is broken. When I open the menu, the menu appears followed by the actual animation (of sliding in for example). As a result, I see the menu appearing and then disappearing before sliding in. The reverse is true when closing.

This happens on safari and chrome on my iphone 6 when I visit http://negomi.github.io/

[2018-01-03 19:18] negomi commented on #204
@MaralS no problem :)

Now the issue is that the menu does not work well as a flex item.

If you add these styles to your `.mobile` class, the overlay is visible:

[code]

[2018-01-03 22:02] michaelsync commented on #214
Thanks negomi.

[2018-01-04 05:19] lightninglu10 opened #216 "Transition timing / transition-timing-function"
What's the timing of the transition and also the transition-timing-function? Is this configurable?

I want to change the width of my app in accordance to the entrance of the menu, but want the transition of the app to follow along with that of the menu.

Where can I find this information?

[2018-01-04 09:18] MaralS commented on #204
@negomi thank you so much :)

[2018-01-06 20:49] negomi commented on #215
Hi @TonyHYK, thanks for the report!

I'm afraid I don't have a lot of devices to test on, but it works correctly on my iPhone 6s with:
* iOS (Safari) version 11.2.1
* Chrome version 63.0.3239.73

Happy to accept PRs/suggestions for how to fix if anyone has ideas for what might be wrong.

[2018-01-06 21:02] negomi commented on #204
I'm going to close this for now as I'm still not able to reproduce broken behavior with `isOpen`, but feel free to post a link to a repo if you get time, and I will reopen it.

@LA

[2018-01-06 21:02] #204 closed

[2018-01-06 21:09] negomi commented on #216
Hey @lightninglu10!

You can find the transition-related code for each animation here: https://github.com/negomi/react-burger-menu/tree/master/src/menus

Overriding those properties is not recommended for general usage as it can be tricky to get right and has the potential to break other things (particularly for the more complex animations) but for custom use cases like yours, you can do it by pas

[2018-01-06 21:09] #216 closed

[2018-01-07 02:56] TonyHYK commented on #215
hi @negomi , thanks for looking into this, i can confirm that the transition works fine on my friend's phone, this seems like a device-wide glitch with transition on my phone, because i'm seeing it when i use other sites, so probably not a problem with react-burger-menu. I'm closing this issue for now.

[2018-01-07 02:56] #215 closed

[2018-01-12 11:52] tyrong commented on #194
hi @negomi when you click the menu item is the menu supposed to just disappear off the page as a new component is rendered? or is there a way so that it slide back off the page the same way it enters as the new component is rendered for a more mobile app feel?

[2018-01-12 20:17] negomi commented on #194
Hi @tyrong, it should animate when closing as well, unless you're doing something like unmounting the component or fully refreshing the page.

[2018-01-12 21:35] tyrong commented on #194
@negomi it was because I’m using next.js and on Ssr was causing the re render! Thanks for the reply though!

[2018-01-15 11:16] KunleMichaels opened #218 "CLOSE ON CLICK!! HELP!! ASAP!"
how can i configure the menu to close after a user clicks on an item in it?

[2018-01-15 18:53] negomi commented on #218
You'll need to close the menu programmatically using the `isOpen` prop: https://github.com/negomi/react-burger-menu/wiki/FAQ#i-want-to-control-the-open-state-programmatically-but-i-dont-understand-how-to-use-the-isopen-prop